<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>我的自选-上传图片识别</title>
    <!-- common CSS -->
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/discernpic.css?rev=$ResourceVersion$">
    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <script>
        if (!document.addEventListener) { // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>
</head>
<body>
    <div class="upload-container ts-container">
        <div class="ts-cnt">
            <div class="stocklst-wrapper">
                <p class="f-gray">共识别出
                    <span id="stockNum">0</span> 只股票</p>
                <div class="stocklst">
                    <div class="iner">
                        <ul id="stockList" class="stockList">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnwrapper">
            <!-- <i class="add"></i> -->
            <button class="btn btn-lg btn-primary disabled" id="btnImport" clickkey="discernpic" clickdata="importstocks" clickremark="">一键导入
                <label id="spanNum">(0)</label>
            </button>
        </div>
    </div>
    <div class="mask" id="mask">
        <form id="formImg" action="$ServerVirtualPath$/evaluation/analyzestock" enctype="multipart/form-data" method="post">
            <div class="m-tips">
                <button class="btn btn-primary btnupload" id="btnUploadImg">点击上传图片</button>
                <input type="file" class="fileupload" name="StockImage" id="StockImage" clickkey="discernpic" clickdata="uploadPic" clickremark="">
            </div>
        </form>
    </div>
    <div id="loading">
        正在加载中...</div>
    <script id="stocktpl" type="text/x-handlebars-template">
        {{#each this}}
        <li class="stock-item active">
            <span class="checkbox" data-val="{{StockCode}}"></span>
            <span>{{StockName}}</span>
            <span class="stockcode">{{StockCode}}</span>
        </li>
        {{/each}}
    </script>
    <script src="$StaticServerHost$/static/libs/require.js?rev=$ResourceVersion$" data-main="$StaticServerHost$/static/scripts/zixuan_testing/discernpic.config.js?rev=$ResourceVersion$"></script>
    <script>
        //获取客户端接口
        function GetExternal() {
            return window.external.EmObj
        };

        //调用客户端接口
        function PC_JH(type, c) {
            try {
                var obj = GetExternal();
                return obj.EmFunc(type, c)
            } catch (e) {}
        };

        //页面加载完成
        function LoadComplete() {
            //EM_FUNC_DLGSIZE();
            try {
                PC_JH("EM_FUNC_DOWNLOAD_COMPLETE", "");
            } catch (ex) {}
        };

        //页面隐藏
        function EM_FUNC_HIDE() {
            try {
                PC_JH("EM_FUNC_HIDE", "");
            } catch (ex) {}
        };
        //页面显示
        function EM_FUNC_SHOW() {
            try {
                PC_JH("EM_FUNC_SHOW", "");
            } catch (ex) {}
        };
        //打开窗口
        function openWindow() {
            // 高 & 宽
            PC_JH("EM_FUNC_DLGSIZE", "362&456");
            LoadComplete();
            EM_FUNC_SHOW();
        }

        function closeWindow() {
            try {
                PC_JH("EM_FUNC_ZXSTYLE_TEST_CLOSE", "");
            } catch (ex) {}
        }
        var openType = 0; //0手动点击打开窗口，1自动弹窗
        if (true) { //openType==0 该功能暂时屏蔽掉
            openWindow();
        }
    </script>
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=4C733486D79AD1987CE51C91950EE9E4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>