<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>资讯文章</title>
    <link rel="stylesheet" href="$StaticServerHost$/static/css/articleZixun.css?rev=$ResourceVersion$">
</head>
<body>
    <div id="page" class="lightblue">
        <div id="menubar">
            <a class="copy copyBtn" id="copyBtn" href="javascript:void(page.copyToClipboard())" onfocus="this.blur()" title="选中文本 点击“复制文件”即可复制&#10;快捷键：&#10;全选择 Ctrl+A；复制 Ctrl+C；粘贴 Ctrl+V">复制文本</a>
            <dl id="setting">
                <dt>字体：
                    <a href="javascript:void(0);" onclick="page.setFontSize(-1)">T-</a> |
                    <a href="javascript:void(0);" onclick="page.setFontSize(1)">T+</a>
                </dt>
                <dd id="themeoptions">
                    <a href="javascript:void(0);" class="orange" onclick="page.setThemes(this,'orange')">&nbsp;</a>
                    <a href="javascript:void(0);" class="yellow" onclick="page.setThemes(this,'yellow')">&nbsp;</a>
                    <a href="javascript:void(0);" class="lightblue" onclick="page.setThemes(this,'lightblue')">&nbsp;</a>
                    <a href="javascript:void(0);" class="deepgay" onclick="page.setThemes(this,'deepgay')">&nbsp;</a>
                </dd>
            </dl>
        </div>
        <div id="mainwrap">
            <div id="title"></div>
            <div class="tc">
                <span id="date"></span>
                <span id="ClickNum"></span>
                <span id="likeNum" onclick="page.thumbsUP(this);"></span>
            </div>
            <div id="content">
                <div id="viewpart" class="viewpart"></div>
                <div class="tr">
                    <span id="clickLikeNum">喜欢就鼓励下！</span>
                    <i class="iconlike" id="likeIcon" onclick="page.thumbsUP(this);"></i>
                </div>
                <!-- <a href='#nogo' id='backBtn' data-status='pdf' onClick='page.switchPdf(this);'>&nbsp;</a> -->
            </div>
            <!-- <iframe id="iframePdf" src="" frameborder="0"></iframe> -->
        </div>
    </div>
    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/articleZixun.js?rev=$ResourceVersion$"></script>
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=4C733486D79AD1987CE51C91950EE9E4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>