<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>我的自选</title>

    <!-- common CSS -->
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/zixuan.css?rev=$ResourceVersion$">
    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <script type="text/javascript" src="http://static.emoney.cn/www/js/stockjs.js" charset="gb2312"></script>

    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>
</head>

<body>
    <div class="down-part" id="downPart">
        <div class="down-item relation-news">
            <div class="title">相关资讯</div>
            <ul class="news-list list no-info-list no-info-list" id="newsList">
                <div class="no-info">正在加载中...</div>
            </ul>
        </div>
        <div class="down-item weiguba">
            <div class="send-message-box">
                <form class="say-box" id="sayBox">
                    <!-- <div class="title">股票讨论</div> -->
                    <p class="say-title">
                        <a class="close" id="close">
                            <i class="icon-1">&#xe603;</i>
                        </a>说点什么</p>
                    <div class="input-box">
                        <input class="stock-code" id="txt_add_stockname" placeholder="股票代码/简称" value="柳    工" maxlength="10" />
                        <input class="cont" id="content" maxlength="200" placeholder="说一说你对股票的看法" />
                        <span class="qq-emotion" id="qqEmotion">
                            <i class="icon-1">&#xe62d;</i>
                        </span>
                        <input type="button" class="btn" value="发布" id="release">
                    </div>
                </form>
            </div>
            <div class="title">微股吧</div>
            <span class="say-btn" id="sayBtn" clickkey="weiguba" clickdata="main|home" clickremark="">
                <i class="icon-1">&#xe62c;</i>说点什么</span>
            <div class="clearfloat"></div>
            <div class="list" id="WeiguScroll">
                <div id="weiguList" class="weigu-list no-info-list">
                    <div class="no-info">正在加载中...</div>
                </div>
            </div>
        </div>
        <div class="down-item focus-strategy">
            <div class="title">关注策略</div>
            <div class="list  no-info-list" id="followedStrategyList">
                <div class="strategy-list">
                    <ul id="strategyListShow">
                        <li>
                            <div class="no-info">正在加载中...</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="$StaticServerHost$/static/libs/require.js?rev=$ResourceVersion$" data-main="$StaticServerHost$/static/scripts/zixuan/zixuan.config.js?rev=$ResourceVersion$"></script>
    <script>
        (function() {
            //获取客户端接口
            function GetExternal() {
                return window.external.EmObj
            };

            //调用客户端接口
            function PC_JH(type, c) {
                try {
                    var obj = GetExternal();
                    return obj.EmFunc(type, c)
                } catch (e) {}
            };

            //页面加载完成
            function LoadComplete() {
                //EM_FUNC_DLGSIZE();
                try {
                    PC_JH("EM_FUNC_DOWNLOAD_COMPLETE", "");
                } catch (ex) {}
            };

            //打开窗口
            function openWindow() {
                // PC_JH("EM_FUNC_DLGSIZE", "703&1100");
                LoadComplete();
                // EM_FUNC_SHOW();
            }
            var openType = 0; //0手动点击打开窗口，1自动弹窗
            if (true) { //openType==0 该功能暂时屏蔽掉
                openWindow();
            }
        })();
    </script>
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=4C733486D79AD1987CE51C91950EE9E4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>

</html>