<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>服务器发生错误</title>
    <link rel="stylesheet" type="text/css" href="http://congenialstatic.emoney.cn/CongenialStatic/css/common.css?vpre=V1.1.0.0" />
    <link rel="stylesheet" type="text/css" href="http://congenialstatic.emoney.cn/CongenialStatic/css/error.css?vpre=V1.1.0.0" />
</head>
<body>
<div style="width:100%;">
    <div class="error">
        <div class="ertit"><a href="#" onclick="LoginOut();" class="goback"></a>服务器发生错误</div>
        <div class="ercnt">
            <dl class="erlist">
                <dt>产生的原因可能是：</dt>
                <dd>
                    <ul>
                        <li>请求访问超时</li>
                        <li>服务器出现异常</li>
                        <li>认证出现异常</li>
                    </ul>
                </dd>
            </dl>
            <dl class="ergolist" style="display: none;">
                <dt class="">您可以:</dt>
                <dd>
                    <a href="http://www.emoney.cn" target="_blank">Emoeny.cn</a>
                </dd>
            </dl>
        </div>
    </div>
</div>
<script>
    try {
        window.external.EmObj.EmFunc("EM_FUNC_DOWNLOAD_COMPLETE", "");
    } catch (ex) { }

    //重新登录
    function LoginOut() {
        try {
            window.external.EmObj.EmFunc("", "");
        } catch (ex) { }
    }

</script>
</body>
</html>
