<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>智投首页</title>
    <link rel="stylesheet" type="text/css" href="$StaticServerHost$/static/styles/index.css?$ResourceVersion$">
    <script>
        if(!String.prototype.trim){
            String.prototype.trim = function () {
                return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
            };
        }

        document.domain = "emoney.cn";
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticspv.js%3Fcode=9CF8193964E29658E660DE86AA0BA12C' type='text/javascript'%3E%3C/script%3E"));
        if (window.console == undefined) {
            window.console = {};
        }
        if (console.log == undefined) {
            window.console.log = function (message) {}
        }
    </script>
</head>

<body>
    <script id="html_live_content" type="text/x-handlebars-template">
        {{#each Message}}
        <dl class="module-item">
            <dt class="module-item-date">
                {{CreateTimeStr}}
            </dt>
            <dd class="module-item-cnt">
                {{renderMessageType MessageType}} {{renderContent Content}}
                <ul class="stocklst">
                    {{renderStockList StockInfoList}}
                </ul>
            </dd>
        </dl>
        <div class="line"></div>
        {{/each}}
    </script>

    <script id="html_live_content_top" type="text/x-handlebars-template">
        {{#each Message}}
        <dl class="module-item clamp">
            <dt class="module-item-date">
                <span class="top">置顶</span>
            </dt>
            <dd class="module-item-cnt">
                <div>
                    <dl class="module-item-top">
                        <dd class="module-item-cnt-top">
                            {{renderMessageType MessageType}} {{renderContent Content}}
                            <ul class="stocklst">
                                {{renderStockList StockInfoList}}
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="realcnt">
                            <div class="iner">
                    <dl class="module-item-top">
                        <dd class="module-item-cnt-top">
                        {{renderMessageType MessageType}} {{renderContent Content}}
                            <ul class="stocklst">
                            {{renderStockList StockInfoList}}
                            </ul>
                        </dd>
                     </dl>
                </div>
                </div>
            </dd>
        </dl>
        <div class="line"></div>
        {{/each}}
    </script>

    <script id="html_live_answer" type="text/x-handlebars-template">
        {{#each Message}}
        <dl class="module-item">
            <dt class="module-item-date">
                {{AskTimeStr}}
            </dt>
            <dd class="module-item-cnt">
                <dl class="cnt-qa">
                    <dt class="f-red" title="{{AskUserName}}">【问】{{AskUserName}}：</dt>
                    <dd>{{renderAnswer AskContent}}</dd>
                </dl>
                {{#if IsAnswered}}
                <dl class="cnt-qa">
                    <dt class="f-blue">【答】{{AnswerUserName}}：</dt>
                    <dd>
                        {{renderAnswer AnswerContent}} {{#if HasAdviserInfo}} 【投资顾问{{AdviserName}}，执业证书编号{{AdviserNo}}，投资顾问意见仅作参考，不作为买卖建议。股市有风险，投资需谨慎！】
                        {{/if}}
                    </dd>
                </dl>
                {{/if}}
            </dd>
        </dl>
        <div class="line"></div>
        {{/each}}
    </script>

    <div class="mainpack">
        <div class="switchlabpack">
            <div class="switchlab-tit">
                <ul>
                    <li class="switchlab-tit-i active">直播</li>
                    <li class="switchlab-tit-i">问答</li>
                </ul>
                <div class="his_date">
                    <span></span>
                </div>
                <div class="his">
                    <input type="hidden" id="d12">
                    <a href="#" onclick="openWdatePicker()">查看历史直播</a>
                </div>
            </div>
            <div class="switchlab-cnt">
                <div class="switchlab-cnt-i">
                    <div class="iner moduleitemTop" id="div_live_top" style="display: none">
                    </div>
                    <div class="iner pr5">
                        <!-- 直播 -->
                        <div class="modulelist" id="div_live_content_list">


                        </div>
                    </div>
                </div>
                <div class="switchlab-cnt-i">
                    <div class="iner moduleitemTop">
                        <dl class="qawrapper">
                            <dt id="area_question" style="visibility:hidden">
                                <input type="text" id="txt_question" placeholder="播主观点仅供学习交流，切勿作为实盘交易的依据" />
                                <button class="btnqa" id="btn_submit_question">提问</button>
                            </dt>
                            <dd>
                                <span>
                                    <input type="hidden" isSlef="0" id="txt_is_self" />
                                    <i class="active" id="btn_all_question">所有问答</i>
                                    <i id="btn_myself_question">仅看自己</i>
                                </span>
                            </dd>
                        </dl>
                    </div>
                    <div class="iner pr5">
                        <!-- 问答 -->
                        <div class="modulelist f13" id="div_live_question_list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 源图 -->
        <div class="pic-pop" id="picPop">
            <div class="get-img">
                <span>
                    <p style="
                            display: block;
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            top: 0;
                            height: 100%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            -webkit-align-items: center;
                            align-items: center;">
                        <img src="" alt="源图" id="ImgSrc">
                    </p>
                </span>
            </div>
        </div>
        <input type="hidden" id="txt_newst_content_date" />
    </div>
    <!-- 智投小弹窗 -->
    <div class="popmask" style="display: none">
        <div class="poptips">
            <div class="poptips-iner">
                <div class="poptips-h">
                    <span class="pop-close">×</span>
                </div>
                <div class="poptips-c">

                </div>
                <div class="poptips-f">
                    <button class="btnok">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/libs/jquery.min.1.8.3.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/libs/jquery.cookie.js?$ResourceVersion$"></script>
    <script src="http://static.emoney.cn/live/Scripts/My97DatePicker/WdatePicker.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/EMCommon.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/index.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/Mess.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/libs/json3.min.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/libs/handlebars/dist/handlebars.min.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/template.js?$ResourceVersion$"></script>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/live.js?$ResourceVersion$"></script>
</body>

</html>