<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>盘外功夫</title>
    <!-- build:styles styles/default.css -->
    <link rel="stylesheet" type="text/css" href="$StaticServerHost$/static/styles/index.css?$ResourceVersion$">
    <!-- endbuild -->
</head>
<body>
	<div class="mainpack">
	 	<div class="focuswrapper">
	 		<div class="iner">
		 		<div class="focus" id="bannerlist">

	        	</div>
		 	</div>
	 	</div>
	 	<div class="switchlabpack">
            <div class="switchlab-tit">
                <ul>
                    <li class="switchlab-tit-i">学习综合</li>
                    <li class="switchlab-tit-i">精选课</li>
                </ul>
            </div>
            <div class="switchlab-cnt">
                <div class="switchlab-cnt-i">
                    <div class="iner courseitemTop" id="top_NewsList">
                    </div>
                    <div class="line"></div>
                    <div class="iner pr0">
                        <div class="courselist" id="dl_NewsList">
						</div>
					</div>
                </div>
                <div class="switchlab-cnt-i">
					<div class="choiceness">
						<div class="courselist" id="div_jxkNewsList">
							<ul id="jxkNewsList">

							</ul>
						</div>
					</div>
                </div>
            </div>
		</div>
	 </div>
<input type="hidden" id="PageIndex" value="1">
<input type="hidden" id="PageIndex_1" value="1">
<!--banner模板-->
<script id="bannerList-template" type="text/x-handlebars-template">
<ul>
{{#each BannerList}}
	{{#bannerPointformat BannerPointType}}
		<li class="t{{@index}}" alt="{{Title}}" style="cursor: pointer;background:url('{{BannerImg}}') center top no-repeat;" flag="openWindow_banner" data-id="{{NewsID}}" data-newsType="{{BannerPointType}}">

		</li>
	{{else}}
		<li class="t{{@index}}">
			<a target="_blank" href="{{OutLinkUrl}}"><img src="{{CoverImgFormat BannerImg}}" alt="{{Title}}"></a>
		</li>
	{{/bannerPointformat}}

{{/each}}
</ul>
<div class="olwrapper">
<ol>
{{#each BannerList}}
<li class="{{bannerOlindexformat @index}}"></li>
{{/each}}
</ol>
</div>
</script>

<!--学习综合-置顶-->
<script id="xxzhNewsTop-template" type="text/x-handlebars-template">
<dl class="course-item" flag="openSoftWindow" data-id="{{ID}}" data-newsType="{{NewsType}}" title="双击查看详情">
	<dt>
		{{#IsNotArticleFormat NewsType}}
		<i class="videoplay-icon smaller abs"></i>
		{{else}}
		{{/IsNotArticleFormat}}
		<img src="{{CoverImgFormat CoverImg}}" alt="">
	</dt>
	<dd>{{Title}}
		<span class="top">置顶</span>
	</dd>
	<dd class="date">{{DateFormat LastModifyTime "yyyy-mm-dd"}}</dd>
</dl>
</script>

<!--学习综合-非置顶-->
<script id="xxzhNewsList-template" type="text/x-handlebars-template">
{{#each NewsList}}
<dl class="course-item" flag="openSoftWindow" data-id="{{ID}}" data-newsType="{{NewsType}}" title="双击查看详情">
	<dt>
		{{#IsNotArticleFormat NewsType}}
			<i class="videoplay-icon smaller abs"></i>
		{{else}}
		{{/IsNotArticleFormat}}
		<img src="{{CoverImgFormat CoverImg}}" alt="">
	</dt>
	<dd>{{Title}}</dd>
	<dd class="date">{{DateFormat LastModifyTime "yyyy-mm-dd"}}</dd>
</dl>
<div class="line"></div>
{{/each}}
</script>

<!--精选课-->
<script id="jxkNewsList-template" type="text/x-handlebars-template">
{{#each NewsList}}
	<li flag="openSoftWindow" data-id="{{ID}}" data-newsType="{{NewsType}}">
		<div class="iner">
			<div class="figure">
			<div class="figcaption"><div class="text">{{Title}}</div><div class="date">{{DateFormat LastModifyTime "yyyy-mm-dd"}}</div></div>
    		<img src="{{CoverImgFormat CoverImg}}" alt="双击查看详情">

			</div>
		</div>
	</li>
{{/each}}
</script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/handlebars/dist/handlebars.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/jquery.min.1.8.3.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/dateformat.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/EMCommon.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/json3.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/Mess.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/handlebars-common.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/pwgf.js?$ResourceVersion$"></script>

</body>
</html>