<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系列课程</title>
    <!-- build:styles styles/default.css -->
    <link rel="stylesheet" type="text/css" href="$StaticServerHost$/static/styles/index.css?$ResourceVersion$">
    <!-- endbuild -->
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
    <script type="text/javascript">
        // 默认页面的宽高尺寸
        var winHeight = 500, winWidth = 700;
        // 先返回页面的宽高

        try {
            PC_JH("EM_FUNC_DLGSIZE", winHeight + "&" + winWidth);
        } catch (ex) { }
    </script>
</head>
<body>
<div class="mainpack">
    <div class="article">
        <div class="article-tit" id="div_article">
        </div>
        <div class="article-cnt" id="seriesNewsList">

        </div>
        </div>
</div>
<input type="hidden" id="PageIndex" value="1">
<script id="NewsInfo-template" type="text/x-handlebars-template">
    <h2>{{Title}}</h2>
    <div class="article-date">{{DateFormat LastModifyTime "yyyy-mm-dd HH:MM"}}</div>
    <div class="doubleline"></div>
</script>
<script id="seriesNewsList-template" type="text/x-handlebars-template">
<div class="iner">
    {{#each NewsList}}
    <dl class="course-item">
        <dt>
            <a href="{{VideoUrl}}" target="_blank" class="target"><i class="videoplay-icon smaller abs"></i></a>
            <img src="{{CoverImgFormat CoverImg}}" alt="">
        </dt>
        <dd><a href="{{VideoUrl}}" target="_blank"  class="target">{{Title}}</a></dd>
        <dd class="date">{{DateFormat LastModifyTime "yyyy-mm-dd"}}</dd>
    </dl>
    <div class="line"></div>
    {{/each}}
</div>
</script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/jquery.min.1.8.3.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/dateformat.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/handlebars/dist/handlebars.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/handlebars-common.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/EMCommon.js?$ResourceVersion$"></script>
<script type="text/javascript">
    var NewsID = ParamFunc.getParam("newsid");// $.fn.getUrlVar('newsid');

    var source = $("#NewsInfo-template").html();
    var template = Handlebars.compile(source);

    var source_series = $("#seriesNewsList-template").html();
    var template_series = Handlebars.compile(source_series);

    $(document).ready(function() {
        EM_FUNC_DOWNLOAD_COMPLETE();

        $(window).resize(function(event) {
            /* Act on the event */
            resize();
        });
        resize();
        
        $.get(www + "panwai/newsinfo",{NewsId:NewsID,r:Math.random()},function(data) {
            if(data.RetCode=="0") {
                var retObj = data.Message;
                var html = template(retObj);
                $("#div_article").html(html);
            }
        });

        pageData.init();

        var $page = $("#PageIndex"); //页索引

        // 滚动加载-学习综合
        $('#seriesNewsList').scroll(function () {
            pageData.scroll($page.val());
        });
    });

    var pageData = {
        pagecount: 0,
        pageSize: 10,
        isCompleted: false,
        init: function () {
            pageData.isCompleted = false;
            pageData.load(1);
            $("#seriesNewsList").html("");
        },
        load: function(pagenum) {
            $.ajax({
                url: www + "panwai/seriesnewslist",
                type: 'GET',
                dataType: 'json',
                data: {NewsId: NewsID, currpage: pagenum, pageSize: pageData.pageSize,r:Math.random()},
                success: function(data){
                HiddenLoadingDocument();
                    if(data.RetCode == "0") {
                        var newsList = data.Message;

                        var retObj = {NewsList: newsList};
                        var html = template_series(retObj);
                        $("#seriesNewsList").append(html);

                        resize();

                        pageData.pagecount = data.TotalCount;
                        //pageData.appendHtml(data.data);
                        pageData.setPageIndex();
                        if (Math.ceil(pageData.pagecount / pageData.pageSize) == pagenum) {
                            pageData.isCompleted = true;
                        } else {
                            pageData.isCompleted = false;
                        }
                    }
                    if (data.RetCode == "-2") {
                        NoneDataDocument($("#seriesNewsList"));
                    }
            },
            beforeSend: function () {
                LoadingDocument();
                // 禁用按钮防止重复提交
                pageData.isCompleted = true;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
            });
        },
        scroll: function (page) { //滚动到底部加载数据
            if (pageData.isCompleted) {
                return false;
            }
            var top = $('#seriesNewsList').scrollTop();
            var win = $('#seriesNewsList').height();
            var doc = document.getElementById("seriesNewsList").scrollHeight;
            if ((top + win) >= doc) {
                pageData.load(page);
            }
        },
        setPageIndex: function () { //数据载入成功，设置下一页索引
            var $page = $("#PageIndex");
            var index = parseInt($page.val()) + 1;
            $page.val(index);
        },
        appendHtml: function(data) {
            var $container = $('.container');
            // handlerbar compile
            // var tpl =  $("#tpl").html();
            // var template = Handlebars.compile(tpl);
            // $container.append(template(data));
        }
    }
    function resize(){
        $('.article-cnt').height($(window).height()-$('.article-tit').outerHeight()-12);
    }
</script>
</body>
</html>