<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>
        策略默认 - 专家资讯
    </title>

    <!-- common CSS -->
    <link rel="stylesheet" href="./static/css/common.css">
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="./static/libs/oldIEpadding.js"><\/script>');
        }
    </script>

</head>

<body>

    <div class="zt-container">
        <div class="zt-header">
            <div class="zth-topbox">
                <div class="zt-logo"></div>
                <div class="zth-nav">
                    <ul>
                        <li class="current">
                            <span>综合首页</span>
                        </li>
                        <li>
                            <span>策略</span>
                        </li>
                        <li>
                            <span>视频</span>
                        </li>
                        <li>
                            <span>要闻</span>
                        </li>
                        <li>
                            <span>主题</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="zt-mainbox">
            <div class="iner">
                <div class="zt-content">
                    <div class="ztc-iner">
                        <div class="ztc-box">
                            <div class="section sect sect-mcnt">
                                右侧内容

                            </div>
                            <div class=" sect sect-aside">
                                左侧内容

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="./static/libs/require.js" data-main="./static/scripts/zhuanjiacelue/require.config.js"></script>
</body>

</html>