<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天眼盯盘-题材热点</title>
</head>
<body>

{{hotspotinfo.TopicSummary}}
<script>  (function() {
    //获取客户端接口
    function GetExternal() {
        return window.external.EmObj
    };

    //调用客户端接口
    function PC_JH(type, c) {
        try {
            var obj = GetExternal();
            return obj.EmFunc(type, c)
        } catch (e) {}
    };

    //页面加载完成
    function LoadComplete() {
        //EM_FUNC_DLGSIZE();
        try {
            PC_JH("EM_FUNC_DOWNLOAD_COMPLETE", "");
        } catch (ex) {}
    };

    //打开窗口
    function openWindow() {
        // PC_JH("EM_FUNC_DLGSIZE", "703&1100");
        LoadComplete();
        // EM_FUNC_SHOW();
    }
    var openType = 0; //0手动点击打开窗口，1自动弹窗
    if (true) { //openType==0 该功能暂时屏蔽掉
        openWindow();
    }
})();

</script>
</body>
</html>