<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title> 策略主页 - 专家策略 - 专家资讯</title>

    <!-- common CSS -->
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$" />
    <link rel="stylesheet" href="$StaticServerHost$/static/css/app-zjcl.css?rev=$ResourceVersion$" type="text/css" />
    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <!-- <script src="$StaticServerHost$/static/libs/jquery/jquery.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/layer/layer.js?rev=$ResourceVersion$"></script> -->
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>

</head>

<body>

    <div class="zt-container">
        <div class="zt-header">
            <div class="zth-topbox">
                <div class="zt-logo"></div>
                <div class="zth-nav">
                    <ul>
                        <li>
                            <a href="$ServerVirtualPath$/page/home" clickkey="topnav|home" clickdata="null|home" clickremark="">
                                <span>综合</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/zhuti" clickkey="topnav|zhuti" clickdata="null|zhuti" clickremark="">
                                <span>主题</span>
                            </a>
                        </li>
                        <li class="current">
                            <a href="$ServerVirtualPath$/page/celue_home" clickkey="topnav|celue_home" clickdata="null|celue_home" clickremark="">
                                <span>策略</span>
                            </a>
                        </li>

                        <li>
                            <a href="$ServerVirtualPath$/page/live_video" clickkey="topnav|live_video" clickdata="null|live_video" clickremark="">
                                <span>视频</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/yaowen_home" clickkey="topnav|yaowen_home" clickdata="null|yaowen_home" clickremark="">
                                <span>热读</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="zt-mainbox">
            <div class="iner">
                <div class="zt-content">
                    <div class="ztc-iner">
                        <div class="ztc-box">
                            <div class=" sect sect-mcnt">
                                <div>
                                    <div class="medialist-pack " id="medialistScroll">
                                        <div class="items media-list tactics-list " id="tacticsList">
                                            <div class="item section">
                                                <div class="item-media">
                                                    <img src="$StaticServerHost$/static/images/blankplaceholder.png" alt="">
                                                </div>
                                                <div class="item-content">
                                                    <div class="ic-iner">
                                                        <h3 class='ic-title'>&nbsp;</h3>
                                                        <div class='ic-txt'>&nbsp;</div>
                                                        <div class='ic-footer'>
                                                            <span class='pull-right'>
                                                                <b>
                                                                    <i class="icon-1">&#xe61b;</i>&nbsp;
                                                                </b>
                                                                <b>
                                                                    <i class="icon-1">&#xe602;</i>&nbsp;
                                                                </b>
                                                            </span>
                                                            <span>&nbsp;
                                                                <span class='vnum'> &nbsp;</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item section">
                                                <div class="item-media">
                                                    <img src="$StaticServerHost$/static/images/blankplaceholder.png" alt="">
                                                </div>
                                                <div class="item-content">
                                                    <div class="ic-iner">
                                                        <h3 class='ic-title'>&nbsp;</h3>
                                                        <div class='ic-txt'>&nbsp;</div>
                                                        <div class='ic-footer'>
                                                            <span class='pull-right'>
                                                                <b>
                                                                    <i class="icon-1">&#xe61b;</i>&nbsp;
                                                                </b>
                                                                <b>
                                                                    <i class="icon-1">&#xe602;</i>&nbsp;
                                                                </b>
                                                            </span>
                                                            <span>&nbsp;
                                                                <span class='vnum'> &nbsp;</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item section">
                                                <div class="item-media">
                                                    <img src="$StaticServerHost$/static/images/blankplaceholder.png" alt="">
                                                </div>
                                                <div class="item-content">
                                                    <div class="ic-iner">
                                                        <h3 class='ic-title'>&nbsp;</h3>
                                                        <div class='ic-txt'>&nbsp;</div>
                                                        <div class='ic-footer'>
                                                            <span class='pull-right'>
                                                                <b>
                                                                    <i class="icon-1">&#xe61b;</i>&nbsp;
                                                                </b>
                                                                <b>
                                                                    <i class="icon-1">&#xe602;</i>&nbsp;
                                                                </b>
                                                            </span>
                                                            <span>&nbsp;
                                                                <span class='vnum'> &nbsp;</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item section">
                                                <div class="item-media">
                                                    <img src="$StaticServerHost$/static/images/blankplaceholder.png" alt="">
                                                </div>
                                                <div class="item-content">
                                                    <div class="ic-iner">
                                                        <h3 class='ic-title'>&nbsp;</h3>
                                                        <div class='ic-txt'>&nbsp;</div>
                                                        <div class='ic-footer'>
                                                            <span class='pull-right'>
                                                                <b>
                                                                    <i class="icon-1">&#xe61b;</i>&nbsp;
                                                                </b>
                                                                <b>
                                                                    <i class="icon-1">&#xe602;</i>&nbsp;
                                                                </b>
                                                            </span>
                                                            <span>&nbsp;
                                                                <span class='vnum'> &nbsp;</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item section">
                                                <div class="item-media">
                                                    <img src="$StaticServerHost$/static/images/blankplaceholder.png" alt="">
                                                </div>
                                                <div class="item-content">
                                                    <div class="ic-iner">
                                                        <h3 class='ic-title'>&nbsp;</h3>
                                                        <div class='ic-txt'>&nbsp;</div>
                                                        <div class='ic-footer'>
                                                            <span class='pull-right'>
                                                                <b>
                                                                    <i class="icon-1">&#xe61b;</i>&nbsp;
                                                                </b>
                                                                <b>
                                                                    <i class="icon-1">&#xe602;</i>&nbsp;
                                                                </b>
                                                            </span>
                                                            <span>&nbsp;
                                                                <span class='vnum'> &nbsp;</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" sect sect-aside">

                                <div>
                                    <div class="ive-newslist">
                                        <h2 class="ive-nl-tit">
                                            <i class="icon-1">&#xe82f;</i> 热门资讯</h2>
                                        <div class='ive-nl-pack hostnews-list' id="iveNlPack">
                                            <ul class="ive-nl-cnt">
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-1">&#xe637;</i>&nbsp;</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div>
                                    <div class="ive-newslist">
                                        <h2 class="ive-nl-tit">
                                            <i class="icon-1">&#xe82f;</i>人气大咖 </h2>
                                        <div class='ive-nl-pack' id="iveNlPack1">
                                            <div class="medialist">
                                                <div class="item">
                                                    <div class="item-heading">
                                                        <div class="media pull-left">
                                                            <img src="$StaticServerHost$/static/images/blankplaceholder.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="pull-right label ">
                                                            <i class="icon-1">&#xe635;</i>
                                                            <span>&nbsp;</span>
                                                        </div>
                                                        <h4>
                                                            <a href="###">&nbsp;</a>
                                                        </h4>
                                                        <div class="text"> &nbsp;</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <!-- <script>
        window.layerIndex = layer.load(2, {
            shade: 0.1
        });
    </script> -->
    <script src="$StaticServerHost$/static/libs/require.js" data-main="$StaticServerHost$/static/scripts/zhuanjiacelue/estrategyhome.config.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/modules/public/EMWinFN.js?rev=$ResourceVersion$"></script>
    <!-- 10163  专家资讯   加pv -->
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
    </script>

</body>

</html>