<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>
        专家策略 - 专家服务
    </title>

    <!-- common CSS -->
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/celue_live.css?rev=$ResourceVersion$">
    <script>
        if (!document.addEventListener) { // IE6~IE8
            document.write("<script src='$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$'><\/script>");
        }
    </script>
</head>

<body>
    <div id="mainBox">
        <div class="clive-top" id="cltNewsTop">
            <div class="ct-iner">
                <div class="no-info" id="noInfo">
                    <span class="inerloading"></span>数据正在加载...</div>
                <div class="clt-mediabox clt-newstop" id="latestStrategyNews">
                    <div class="clt-media">
                        <a href="javascript:;" id="readingLogo" data-ahref="$ServerVirtualPath$/strategyservice/celueReading">
                            <img src="$StaticServerHost$/static/images/celueArticlelSmall_default.png" />
                        </a>
                    </div>
                    <div class="clt-info">
                        <dl>
                            <dt>
                                <div class="txt-tips pull-right">
                                    <a href="javascript:;" id="readingMore" data-ahref="$ServerVirtualPath$/strategyservice/celueReading">
                                        更多
                                        <i class="icon-1">&#xe656;</i>
                                    </a>
                                </div>
                                <a href="javascript:;" id="readingName" data-ahref="$ServerVirtualPath$/strategyservice/celueReading">
                                    <b>
                                        策略原理 </b>
                                </a>
                            </dt>
                            <dd>
                                <a href="javascript:;" data-ahref="$ServerVirtualPath$/strategyservice/celueReading">
                                    <div class="info-summary strategyNews-Summary">&nbsp;&nbsp; </div>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="clt-mediabox clt-livetop" id="latestStrategyVideoNews">
                    <div class="clt-media">
                        <a href="javascript:;" id="vedioLogo" data-ahref="$ServerVirtualPath$/strategyservice/celueVideo">
                            <img src="$StaticServerHost$/static/images/celueVideoSmall_default.png" />
                        </a>
                    </div>
                    <div class="clt-info">
                        <dl>
                            <dt>
                                <div class="txt-tips pull-right">
                                    <a href="javascript:;" id="vedioMore" data-ahref="$ServerVirtualPath$/strategyservice/celueVideo">
                                        更多
                                        <i class="icon-1">&#xe656;</i>
                                    </a>
                                </div>
                                <a href="javascript:;" id="vedioName" data-ahref="$ServerVirtualPath$/strategyservice/celueVideo">
                                    <b class=""> 培训视频 </b>
                                </a>
                            </dt>
                            <dd>
                                <a href="javascript:;" data-ahref="$ServerVirtualPath$/strategyservice/celueVideo">
                                    <div class="info-summary svideoNews-Summary">&nbsp;</div>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="tab-box" id="tabBox">
                <div class="tabBox">
                    <ul>
                        <li class="current" clickkey="tab|celuehudong" clickdata="null|celuehudong" clickremark="" ondblclick="fillStrategyDataById('70001','80013')" data-type="expert-live">策略互动</li>
                        <li data-type="expert-article" clickkey="tab|importanttips" clickdata="null|importanttips" clickremark="">重要提示</li>
                        <li id="tabTraining" data-type="expert-train" clickkey="tab|actraltraining" clickdata="null|actraltraining" clickremark="">实战培训</li>
                    </ul>
                    <!-- <div class="live-like" id="liveLikeCnt"></div> -->
                </div>
            </div>
        </div>
        <div class="tabcont">
            <div class="curlive-pack celue-live-page">
                <div class="live-list-nav" id="liveListNav">
                    <div class="iner">
                        <div class="history-date pull-left" id="historyDate">2018-9-10</div>
                        <div class="live-type pull-right">
                            <em class="tp-live" data-target="" id="hasNewLiveTip">直播更新
                                <span class="total">2</span>条 | </em>
                            <b class="tp-live active" data-target="iveNlPack2" id="zhiBo" clickkey="tab|todaylive" clickdata="null|todaylive" clickremark="">今日直播</b>
                            <input type="text" id="d11" style="display: none;">
                            <div class="rili" id="datePick" onclick="WdatePicker({el:'d11',onpicked:window.pickedFunc,position:{left:-10},maxDate:'%y-%M-%d'})"></div> |
                            <b class="tp-question" data-target="allQuestionPack" clickkey="tab|allquestion" clickdata="null|allquestion" clickremark="">全部问答</b> |
                            <b class="tp-myquestion" data-target="myQuestionPack" clickkey="tab|myquestion" clickdata="null|myquestion" clickremark="">我的问答</b>
                        </div>
                    </div>
                </div>
                <div id="curLiveContent">
                    <div class="ive-nl-pack section curlive-content" id="iveNlPack2">
                        <div class="live-iner">
                            <ul class="ive-nl-cnt  active" id="zbzx">
                                <li>等待直播内容……</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ive-nl-pack section curlive-content" style="display:none;" id="allQuestionPack">
                        <div class="live-iner">
                            <ul class="ive-nl-cnt " id="questionBox">
                                <li class="toload">加载今日直播问答内容……</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ive-nl-pack section curlive-content" style="display:none;" id="myQuestionPack">
                        <div class="live-iner">
                            <ul class="ive-nl-cnt " id="myquestionBox">
                                <li class="toload">加载我的问答内容……</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="submit-line" id="submitLine">
                    <div class="pad-box">
                        <div class="inp-pack">
                            <div class="inp-view">
                                <div class="inp-i">
                                    <div class="inp-facemark" id="inpFacemark">
                                        <div>

                                        </div>
                                    </div>
                                    <div class="inp-btn">
                                        <div class="inp-iner">
                                            <div class="form-control">
                                                <button class="btn submitquestion" id="submitQuestion">提交</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inp-box">
                                        <div class="inp-iner">
                                            <div class="form-control">
                                                <input class="" placeholder="说两句，一起交流……" id="id_expertquestion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-box close" id="articleBox">
                <div class="no-info">
                    <span class="inerloading"></span>内容正在加载...
                </div>
                <div class="article-content-list" id="articleContentlist">
                    <div class="" id="articleScroll">

                    </div>
                </div>
            </div>
            <div class="livetraining-page">
                <div class="live-list-nav">
                    <div class="iner">
                        <ul class="tab-filter" id="tabTagsNav">
                            <li class="cur">最新</li>
                        </ul>
                    </div>
                </div>
                <div class="training-pack" id="trainingScroll">
                    <ul class="training-list" id="training-list">
                    </ul>
                    <div class="nonedata" id="noneDataDiv">
                        暂无数据显示
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- <div id="liveFramePack">
            <iframe src="http://dsclient.emoney.cn/yqqapi/yqqexpert/liveFrame.html" frameborder="0" id="liveiFrame" style="height:700px;"></iframe>
        </div> -->


    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/jquery/jquery.handlebars.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/nicescroll/jquery.nicescroll.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/Mess.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/jquery/jquery.xdomainrequest.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/layer/layer.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/qqFace/jquery.qqFace.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/My97DatePicker/WdatePicker.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/modules/public/utils.opt.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/zhuanjiacelue/celueliveroom.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/zhuanjiacelue/actualtraining.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/zhuanjiacelue/celue_live.opt.js?rev=$ResourceVersion$"></script>
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
        (function() {
            function GetExternal() {
                return window.external.EmObj;
            }

            function PC_JH(type, c) {
                try {
                    var obj =
                        GetExternal();
                    return obj.EmFunc(type, c);
                } catch (e) {}
            }

            function LoadComplete() {
                try {
                    PC_JH("EM_FUNC_DOWNLOAD_COMPLETE", "");
                } catch (ex) {}
            }

            LoadComplete();
        })();
    </script>
</body>


</html>