<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>
        要闻主页 - 专家资讯
    </title>

    <!-- common CSS -->
    <!-- <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$"> -->
    <link rel="stylesheet" href="$StaticServerHost$/static/css/app-zjcl.css?rev=$ResourceVersion$">
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>


</head>

<body>

    <div class="zt-container">
        <div class="zt-header">
            <div class="zth-topbox">
                <div class="zt-logo"></div>
                <div class="zth-nav">
                    <ul>
                        <li>
                            <a href="$ServerVirtualPath$/page/home" clickkey="topnav|home" clickdata="null|home" clickremark="">
                                <span>综合</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/zhuti" clickkey="topnav|zhuti" clickdata="null|zhuti" clickremark="">
                                <span>主题</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/celue_home" clickkey="topnav|celue_home" clickdata="null|celue_home" clickremark="">
                                <span>策略</span>
                            </a>
                        </li>

                        <li>
                            <a href="$ServerVirtualPath$/page/live_video" clickkey="topnav|live_video" clickdata="null|live_video" clickremark="">
                                <span>视频</span>
                            </a>
                        </li>
                        <li class="current">
                            <a href="$ServerVirtualPath$/page/yaowen_home" clickkey="topnav|yaowen_home" clickdata="null|yaowen_home" clickremark="">
                                <span>热读</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="zt-mainbox">
            <div class="iner">
                <div class="zt-content">
                    <div class="ztc-iner">
                        <div class="ztc-box">
                            <div class=" sect sect-mcnt">
                                <div>
                                    <div class="medialist-pack infos " id="medialistScroll">
                                        <div class="items media-list infos-list no-info-cnt" id="infos-list">
                                            <div class="no-info">
                                                <span class="inerloading"></span>正在加载...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" sect sect-aside">
                                <div>
                                    <div class="ive-newslist infos">
                                        <h2 class="ive-nl-tit">
                                            <i class="icon-1">&#xe82f;</i> 热门资讯</h2>
                                        <div class='ive-nl-pack hostnews-list' id="iveYwNlPack">
                                            <ul class="ive-nl-cnt" id="hotNewsList">
                                                <div class="no-info">
                                                    <span class="inerloading"></span>正在加载...</div>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 调用客户端接口 -->
    <script type="text/javascript">
        (function() {
            function GetExternal() {
                return window.external.EmObj;
            }

            function PC_JH(type, c) {
                try {
                    var obj =
                        GetExternal();
                    return obj.EmFunc(type, c);
                } catch (e) {}
            }

            function LoadComplete() {
                try {
                    PC_JH("EM_FUNC_DOWNLOAD_COMPLETE", "");
                } catch (ex) {}
            }

            function EM_FUNC_HIDE() {
                try {
                    PC_JH("EM_FUNC_HIDE", "");
                } catch (ex) {}
            }

            function EM_FUNC_SHOW() {
                try {
                    PC_JH("EM_FUNC_SHOW", "");
                } catch (ex) {}
            }

            function IsShow() {
                try {
                    return PC_JH("EM_FUNC_WND_ISSHOW", "");
                } catch (ex) {
                    return "0";
                }
            }

            function openWindow() {
                LoadComplete();
                PC_JH("EM_FUNC_WND_SIZE", "w=1106,h=674,mid");
                if (IsShow() != "1") {
                    EM_FUNC_SHOW();
                }
            }
            openWindow();
        })();
    </script>
    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <!-- <script src="$StaticServerHost$/static/libs/require.js?rev=$ResourceVersion$" data-main="$StaticServerHost$/static/scripts/zhuanjiazixun/yaowen_home.config.js?rev=$ResourceVersion$"></script> -->
    <script src="$StaticServerHost$/static/libs/jquery/jquery.handlebars.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/nicescroll/jquery.nicescroll.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/modules/public/utils.opt.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/zhuanjiazixun/yaowen_home.opt.js?rev=$ResourceVersion$"></script>
    <!-- 10163  专家资讯   加pv -->
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
    </script>

</body>

</html>