<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
    <meta content='black' name='apple-mobile-web-app-status-bar-style'>
    <meta name='full-screen' content='yes'>
    <meta name='x5-fullscreen' content='true'>
    <meta name='keywords' content=''>
    <meta name='description' content=''>

    <title>
        策略文章列表 - 专家策略 - 专家资讯
    </title>

    <!-- common CSS -->
    <link rel='stylesheet' href='$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$'>
    <link rel='stylesheet' href='$StaticServerHost$/static/css/app-zjcl.css?rev=$ResourceVersion$'>

    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>

</head>

<body>

    <div class='zt-container'>
        <div class='zt-header'>
            <div class='zth-topbox'>
                <div class='zt-logo'></div>
                <div class='zth-nav'>
                    <ul>
                        <li>
                            <a href="$ServerVirtualPath$/page/home" clickkey="topnav|home" clickdata="null|home" clickremark="">
                                <span>综合</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/zhuti" clickkey="topnav|zhuti" clickdata="null|zhuti" clickremark="">
                                <span>主题</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/celue_home" clickkey="topnav|celue_home" clickdata="null|celue_home" clickremark="">
                                <span>策略</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/live_video" clickkey="topnav|live_video" clickdata="null|live_video" clickremark="">
                                <span>视频</span>
                            </a>
                        </li>
                        <li>
                            <a href="$ServerVirtualPath$/page/yaowen_home" clickkey="topnav|yaowen_home" clickdata="null|yaowen_home" clickremark="">
                                <span>热读</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='zt-mainbox'>
            <div class='iner'>
                <div class='zt-content'>
                    <div class='ztc-iner'>
                        <div class='ztc-box'>
                            <div class=' sect sect-mcnt celue-mcnt-v2'>
                                <div>
                                    <span class="go-back" id="goBack">
                                        <i class="icon-1">&#xe60c;</i>返回
                                    </span>
                                    <div id="StrategyInfoShow">

                                        <div class="cur-topic">
                                            <div class="ct-media pull-left">
                                                <a href="javascript:;" target="_blank">
                                                    <img src='$StaticServerHost$/static/images/blankplaceholder.png' alt=''> </a>
                                            </div>
                                            <div class="ct-right pull-left">
                                                <div class="pull-right"> 投顾编号：A0880618010005 </div>
                                                <h3>
                                                    <a href="javascript:;" target="_blank">当前专家</a>
                                                    <span class="label "> </span>
                                                </h3>
                                                <div class="ct-txt ">
                                                    <a href="javascript:;" target="_blank">　 </a>
                                                </div>
                                                <div class="topic-labels">
                                                    <span class="label label-info-pale">　</span>
                                                    <span class="label label-info-pale">　</span>
                                                </div>
                                            </div>
                                            <div class="clearfloat"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="his-video-scroll" id="hisColumnScroll">
                                    <div class='his-video-list' id="hisColumnList">
                                        <div class="no-info">
                                            <span class="inerloading"></span>正在加载...</div>
                                    </div>
                                </div>
                            </div>
                            <div class=' sect sect-aside celue-aside-v2'>
                                <div class="sa-iner">
                                    <div class="">
                                        <div>
                                            <div class="curexpert-state">
                                                <div class="cs-iner">
                                                    <ul class="cs-pack" id="csPack">
                                                        <li>
                                                            <b id="curVisitAddrNum">　</b>
                                                            <em>直播人气</em>
                                                        </li>
                                                        <li>
                                                            <b id="curFansNum">　</b>
                                                            <em>粉丝</em>
                                                        </li>
                                                        <li>
                                                            <b id="curartTotalPlay">　</b>
                                                            <em>点播</em>
                                                        </li>
                                                        <li>
                                                            <b id="curartTotalCount">　</b>
                                                            <em>获赞</em>
                                                        </li>
                                                        <li>
                                                            <b id="curClickNum">　</b>
                                                            <em>阅读</em>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sa-pack section">
                                            <div class='ive-newslist hislive-list section' id="bigCastRelates">
                                                <h2 class='ive-nl-tit'>
                                                    <span class="expert-belongs expert-live active close" clickkey="hislive|tab" clickdata="hislive|zhuanjiacelue_article" clickremark="">策略互动</span>
                                                    <span class="expert-belongs expert-video close" clickkey="hisvideo|tab" clickdata="hisvideo|zhuanjiacelue_article" clickremark="">视频解盘</span>
                                                </h2>
                                                <!-- <div class='spitline'></div> -->
                                                <div class="curlive-pack close" id="hisLiveBox">
                                                    <div class="live-list-nav" id="liveListNav">
                                                        <div class="iner">
                                                            <div class="history-date pull-left" id="historyDate">2018-9-10</div>
                                                            <div class="live-type pull-right">
                                                                <em class="tp-live" data-target="" id="hasNewLiveTip">直播更新
                                                                    <span class="total">2</span>条 | </em>
                                                                <b class="tp-live active" data-target="iveNlPack2" id="zhiBo" clickkey="tab|todaylive" clickdata="null|todaylive" clickremark="">今日直播</b>
                                                                <input type="text" id="d11" style="display: none;">
                                                                <div class="rili" id="datePick" onclick="WdatePicker({el:'d11',onpicked:window.pickedFunc,position:{left:-10},maxDate:'%y-%M-%d'})"></div> |
                                                                <b class="tp-question" data-target="allQuestionPack" clickkey="tab|allquestion" clickdata="null|allquestion" clickremark="">全部问答</b> |
                                                                <b class="tp-myquestion" data-target="myQuestionPack" clickkey="tab|myquestion" clickdata="null|myquestion" clickremark="">我的问答</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="curLiveContent">
                                                        <div class="ive-nl-pack section curlive-content" id="iveNlPack2">
                                                            <div class="live-iner">
                                                                <ul class="ive-nl-cnt  active" id="zbzx">
                                                                    <li>等待直播内容……</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="ive-nl-pack section curlive-content" style="display:none;" id="allQuestionPack">
                                                            <div class="live-iner">
                                                                <ul class="ive-nl-cnt " id="questionBox">
                                                                    <li class="toload">加载今日直播问答内容……</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="ive-nl-pack section curlive-content" style="display:none;" id="myQuestionPack">
                                                            <div class="live-iner">
                                                                <ul class="ive-nl-cnt " id="myquestionBox">
                                                                    <li class="toload">加载我的问答内容……</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="submit-line" id="submitLine">
                                                        <div class="pad-box">
                                                            <div class="inp-pack">
                                                                <div class="inp-view">
                                                                    <div class="inp-i">
                                                                        <div class="inp-facemark" id="inpFacemark">
                                                                            <div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="inp-btn">
                                                                            <div class="inp-iner">
                                                                                <div class="form-control">
                                                                                    <button class="btn submitquestion" id="submitQuestion">提交</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="inp-box">
                                                                            <div class="inp-iner">
                                                                                <div class="form-control">
                                                                                    <input class="" placeholder="说两句，一起交流……" id="id_expertquestion">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='medialist-pack strategy-video-list close' id='vedioListScroll'>
                                                    <div class='items media-list' id="">
                                                        <div class="no-info">
                                                            <span class="inerloading"></span>正在加载...</div>
                                                        <ul class="video-list" id="vedioList">

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/jquery/jquery.Handlebars.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/Mess.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/nicescroll/jquery.nicescroll.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/layer/layer.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/modules/public/utils.opt.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/jquery/jquery.xdomainrequest.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/My97DatePicker/WdatePicker.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/libs/qqFace/jquery.qqFace.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/zhuanjiacelue/celueliveroom.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/zhuanjiacelue/estrategyinfolist.opt.js?rev=$ResourceVersion$"></script>
    <!-- <script src='$StaticServerHost$/static/libs/require.js?rev=$ResourceVersion$' data-main='$StaticServerHost$/static/scripts/zhuanjiacelue/estrategyinfolist.config.js?rev=$ResourceVersion$'></script> -->
    <script src="$StaticServerHost$/static/scripts/modules/public/EMWinFN.js?rev=$ResourceVersion$"></script>


    <!-- 10163  专家资讯   加pv -->
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
    </script>

</body>

</html>