<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>主题首页 - 专家资讯</title>

    <link rel="stylesheet" href="$StaticServerHost$/static/css/home.opt.css?rev=$ResourceVersion$">
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        html {
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: #fff;
        }

        .zt-mainbox {
            position: relative;
            width: 1098px;
            height: 601px;
        }

        .zhuti-ad {
            /* vertical-align: middle;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            padding: 0; */
            width: 1082px;
            height: 593px;
        }
    </style>
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>
</head>

<body>
<div class="zt-container">
    <div class="zt-header">
        <div class="zth-topbox">
            <div class="zt-logo"></div>
            <div class="zth-nav">
                <ul>
                    <li>
                        <a href="$ServerVirtualPath$/page/home" clickkey="topnav|home" clickdata="null|home" clickremark="">
                            <span>综合</span>
                        </a>
                    </li>
                    <li class="current">
                        <a href="$ServerVirtualPath$/page/zhuti" clickkey="topnav|zhuti" clickdata="null|zhuti" clickremark="">
                            <span>主题</span>
                        </a>
                    </li>
                    <li>
                        <a href="$ServerVirtualPath$/page/celue_home" clickkey="topnav|celue_home" clickdata="null|celue_home" clickremark="">
                            <span>策略</span>
                        </a>
                    </li>

                    <li>
                        <a href="$ServerVirtualPath$/page/live_video" clickkey="topnav|live_video" clickdata="null|live_video" clickremark="">
                            <span>视频</span>
                        </a>
                    </li>
                    <li>
                        <a href="$ServerVirtualPath$/page/yaowen_home" clickkey="topnav|yaowen_home" clickdata="null|yaowen_home" clickremark="">
                            <span>热读</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="zt-mainbox">
        <div class="iner">
            <div class="zt-content">
                <img id="btn_free" style="cursor: pointer;" class="zhuti-ad" src="$StaticServerHost$/static/images/201810161726/zhuti_adver.png?rev=$ResourceVersion$" />
            </div>
        </div>
    </div>
</div>

<!-- <div class="zt-container">
    <img class="zhuti-ad" src="$StaticServerHost$/static/images/201810161726/zhuti_adver.png?rev=$ResourceVersion$"/>
</div> -->
<script src="$StaticServerHost$/static/libs/jquery/jquery.handlebars.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/modules/public/utils.opt.js?rev=$ResourceVersion$"></script>
<!-- 调用客户端接口 -->
<script type="text/javascript">
    (function() {
        function GetExternal() {
            return window.external.EmObj;
        }

        function PC_JH(type, c) {
            try {
                var obj =
                        GetExternal();
                return obj.EmFunc(type, c);
            } catch (e) {}
        }

        function LoadComplete() {
            try {
                PC_JH("EM_FUNC_DOWNLOAD_COMPLETE", "");
            } catch (ex) {}
        }

        function EM_FUNC_HIDE() {
            try {
                PC_JH("EM_FUNC_HIDE", "");
            } catch (ex) {}
        }

        function EM_FUNC_SHOW() {
            try {
                PC_JH("EM_FUNC_SHOW", "");
            } catch (ex) {}
        }

        function EM_FUNC_USERREGISTER() {
            try {
                PC_JH("EM_FUNC_USERREGISTER", "");
            } catch (ex) {}
        }

        function IsShow() {
            try {
                return PC_JH("EM_FUNC_WND_ISSHOW", "");
            } catch (ex) {
                return "0";
            }
        }

        function openWindow() {
            LoadComplete();
            if (IsShow() != "1") {
                PC_JH("EM_FUNC_WND_SIZE", "w=1106,h=711,mid");
                EM_FUNC_SHOW();
            }
        }
        openWindow();
        utils.appendSSO();

        $("#btn_free").click(function () {
            var pid = utils.GetQueryString("pid");
            if (pid=="888030000" || pid=="888030400")
            {
                EM_FUNC_USERREGISTER();
            }else{
                window.open("http://r.emoney.cn/zy_expert");
                //$("#form_freeURL").attr("action","http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=4006706668");
                //$("#form_freeURL").submit();
            }
        });
    })();
</script>

<script type="text/javascript">
    document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>