<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>猜涨跌</title>
     <link rel="stylesheet" type="text/css" href="$StaticServerHost$/static/css/activity_guess.min.css?$ResourceVersion$">
</head>

<body>
<div class="mainpack">
        <!-- 左侧导航 -->
        <div class="nav">
            <div class="nav-item on">
                <a class="text" href="#page1">参与竞猜</a>
            </div>
            <div class="nav-item">
                <a class="text" href="#page2">我的竞猜</a>
            </div>
            <div class="nav-item">
                <a class="text" href="#page3">我的奖品</a>
            </div>
        </div>
        <!-- 内容页 -->
        <div class="main">
            <!-- 首页 -->
            <div class="firstpage" id="page1">
                <div class="iner">
                    <h1>猜大盘涨跌</h1>
                    <h2 id="reportName">赢《脱水研报》</h2>
                    <div class="result" id="result">
                        <div class="brief">
                            <div class="iner" id="brief">汲取券商研报精华 专家团队精心编制 提前把握行情机会 </div>
                        </div>
                        <div class="datetips">
                            <span id="currDate">--</span>上证指数
                        </div>
                        <div class="guesswrapper">
                            <ul>
                                <li class="radio-box" data-type="1">看涨</li>
                                <li class="radio-box" data-type="-1">看跌</li>
                            </ul>
                            <a href="#" class="guessbtn" id="guessbtn">立即竞猜</a>
                        </div>
                        <div class="guessresult">
                            <div class="guessresultbox">
                                <div class="slogan">恭喜您已完成本局竞猜</div>
                                <div class="iner">
                                    <p>竞猜结果可于<span class="yellow"><span id="publishDate">--</span>16:00</span>后</p>
                                    <p>在【我的竞猜】中查看</p>
                                    <ul class="barwrapper">
                                        <li>
                                            <div class="bar rise">
                                                <div class="rate" id="riseBar"></div>
                                            </div>
                                            <div class="text"><span id="riseRate"></span>的人看涨</div>
                                        </li>
                                        <li>
                                            <div class="bar down">
                                                <div class="rate" id="downBar"></div>
                                            </div>
                                            <div class="text"><span id="downRate"></span>的人看跌</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 我的竞猜 -->
            <div class="secondpage module" id="page2">
                <div class="mtit">我的竞猜</div>
                <div class="mcnt">
                    <div class="box">
                        <div class="box-tit">
                            本周累计竞猜：<span class="red" id="Count"></span> 局<span class="pl80">猜中：<span class="red" id="winCount"></span> 局</span>
                        </div>
                        <table class="tab-m" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>竞猜列表</th>
                                    <th>竞猜方向</th>
                                    <th>竞猜时间</th>
                                    <th>竞猜结果</th>
                                </tr>
                            </thead>
                            <tbody id="guessList">
                            </tbody>
                        </table>
                        <div class="tr"><a href="#" id="more" class="fr">查看更多</a></div>
                    </div>
                </div>
            </div>
            <!-- 我的奖品 -->
            <div class="secondpage module" id="page3">
                <div class="mtit">我的奖品</div>
                <div class="mcnt">
                    <div class="box">
                        <table class="tab-m" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>竞猜列表</th>
                                    <th>奖品内容</th>
                                    <th>获取时间</th>
                                    <th>奖品状态</th>
                                </tr>
                            </thead>
                            <tbody id="prizeList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 活动规则 -->
            <div class="thirdpage module" id="page4">
                <div class="splitline">
                    <div class="text">活动规则</div>
                </div>
                <ul class="rules">
                    <li>1、活动对象：注册成功即可参与活动，每局仅可参与1次。
                    </li>
                    <li>2、竞猜规则：每日9点前竞猜当日涨跌，9点后竞猜下一交易日涨跌。
                    </li>
                    <li>3、奖品领取：一周内，累计猜对3次，获《<span id='prizeName'
                        ></span>》1份（奖品自动发放，在我的奖品中进行查看）</li>
                    <li>4、本竞猜活动以一周为计量单位，一周后结果清零。
                    </li>
                    <li>5、本次活动的最终解释权归益盟股份所有。</li>
                </ul>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <div class="popwrapper">
        <!-- 我的竞猜历史 -->
        <div class="popwin" id="popHis">
            <div class="popheader">
                <h3>我的竞猜历史</h3>
                <div class="closer">×</div>
            </div>
            <div class="popcnt">
                <div class="iner">
                    <table class="tab-m">
                        <thead>
                            <tr>
                                <th>竞猜列表</th>
                                <th>竞猜方向</th>
                                <th>竞猜时间</th>
                                <th>竞猜结果</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="tabwrapper">
                        <table class="tab-m">
                            <tbody id="hisTabCnt">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src='$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?$ResourceVersion$'></script>
<script src='$StaticServerHost$/static/libs/jquery/jquery.min.js?$ResourceVersion$'></script>
<!--[if lt IE 9]>
<script src='$StaticServerHost$/static/libs/json2/json2.min.js?$ResourceVersion$'></script>
<![endif]-->
<script type="text/javascript" src="$StaticServerHost$/static/scripts/utils.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
<script>
    $(document).ready(function () {
        utils.config.url = www;
        $(".btn-close").click(function () {
            closePCWindow();
        });
    });
</script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/guess.min.js?$ResourceVersion$"></script>
<script type="text/javascript">document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticspv.js%3Fcode=DE847485C1D81B1D876E85185286DC6C' type='text/javascript'%3E%3C/script%3E"));</script>
</body>


</html>