<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="shortcut icon" href="$StaticServerHost$/static/images/favicon.png" type="image/x-icon">
    <link rel="icon" sizes="any" mask="" href="$StaticServerHost$/static/images/favicon.png">
    <!--[if lt IE 9]>
    <script src="$StaticServerHost$/static/libs/html5shiv.js"></script>
    <script src="$StaticServerHost$/static/libs/respond.js"></script>
    <script src="$StaticServerHost$/static/libs/excanvas.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/css/app.css?rev=$ResourceVersion$">
    <script src="$StaticServerHost$/static/libs/jquery/jquery.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
</head>

<body>
<div class='pl-container usrcenter'>
    <!-- section-headtop -->
    <div class='headertop'>
        <div class='logoicon'></div>
        <div class='topnav' id='topNav'>
            <div class='navmenu'>
                <ul>
                    <li class="" data-item="homepage">
                        <a href="$ServerVirtualPath$/homepage/index$SSOQueryString$">
                                <span class="sign">
                                    <i class="icon">&#xe648;</i>
                                </span>
                            <span class="txt">首 页</span>
                        </a>
                    </li>
                    <li class="" data-item="activitiespage">
                        <a href="$ServerVirtualPath$/activity/index$SSOQueryString$">
                                <span class="sign">
                                    <i class="icon">&#xe631;</i>
                                </span>
                            <span class="txt">活 动</span>
                        </a>
                    </li>
                    <li class="active" data-item="userpage">
                        <a href="$ServerVirtualPath$/mine/index$SSOQueryString$">
                                <span class="sign">
                                    <i class="icon">&#xe600;</i>
                                </span>
                            <span class="txt">我 的</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='topright'>
            <div class='btn btn-default btn-zixun'>
                <i class='icon '>&#xe669;</i> <span id="span_online"></span></div>
        </div>
    </div>
    <!-- end section-headtop -->

    <!--  section-main 主显示区域   -->
    <div class='maincont' id='MainCont'>
        <div class='mc-pack'>
            <iframe id="frm_qqlogin" width="760" height="432" frameborder="0"></iframe>
            <input type="hidden" id="returnUrl_qqLogin" value="$ServerVirtualPath$/mine/bindqq">
        </div>
    </div>
    <!-- end section-main -->
</div>

<script type="text/javascript" src="http://static.emoney.cn/ds/jrtpad/jrtpadtongji.js"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
<script type="text/javascript" src='$StaticServerHost$/static/scripts/ad.js?$ResourceVersion$'></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
<script>
    $(document).ready(function () {
        initAdvisoryId();
        var returnURL = www + "mine/qqbind";// $("#returnUrl_qqLogin").val();
        $("#frm_qqlogin").attr("src","http://ds.emoney.cn/softsupportOAuth/OAuth/OAuthationUrl?returnURL="+ encodeURIComponent(returnURL));

        $(".btn-close").click(function () {
            closePCWindow();
        });
    });
</script>
</body>

</html>