<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="shortcut icon" href="$StaticServerHost$/static/images/favicon.png" type="image/x-icon">
    <link rel="icon" sizes="any" mask="" href="$StaticServerHost$/static/images/favicon.png">
    <!--[if lt IE 9]>
    <script src="$StaticServerHost$/static/libs/html5shiv.js"></script>
    <script src="$StaticServerHost$/static/libs/respond.js"></script>
    <script src="$StaticServerHost$/static/libs/excanvas.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/css/app.css?rev=$ResourceVersion$">
    <script src="$StaticServerHost$/static/libs/jquery/jquery.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <style>
        body{
            height:400px;
            width:756px;
            border:0;
        }
    </style>
</head>

<body>
<div class='pl-container usrcenter'>

    <!--  section-main 主显示区域   -->
    <div class='maincont' id='MainCont'>
        <div class='mc-pack'>
            <div class='iner'>
                <div class='cntbox' style="height:402px;">
                    <!-- 用户 我的  -->
                    <div class="pageItem userpage" style='display:block;'>
                        <div>
                            <div class="usr-anounce">
                                <div class="text-primary">
                                    <i class="icon">&#xe87a;</i>个人信息 </div>
                            </div>
                            <div class="usr-bindQQ">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="ub-title">QQ</div>
                                            <div class='avatar-mask'>
                                                <img id="qq_headimg" src="../static/images/usr-avatar.png" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ub-title">　</div>
                                            <div>
                                                <i class="icon-1">&#xe611;</i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ub-title">智盈</div>
                                            <div class='avatar-mask'>
                                                <img id="zt_headimg" src="../static/images/usr-avatar.png" alt="">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="ub-tips"> 将QQ与智盈账号绑定，请确认！ </div>
                                <div class="usr-bindline">
                                    <button class="btn btn-primary" id="btn_bindqq">绑定账号</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 用户 我的 end -->
                </div>
            </div>
        </div>
    </div>
    <!-- end section-main -->
</div>
<script type="text/javascript" src="http://static.emoney.cn/ds/jrtpad/jrtpadtongji.js"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
<script type="text/javascript" src='$StaticServerHost$/static/scripts/ad.js?$ResourceVersion$'></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
<script>
    $(document).ready(function () {
        initAdvisoryId();
        var openID=ParamFunc.getParam("openid");
        var nickname=ParamFunc.getParam("nickname");
        var headimg=ParamFunc.getParam("headimg");

        $("#qq_headimg").attr("src", unescape(headimg));
        $.get(www + "homepage/userinfo", {}, function (data) {
            if (data.RetCode="0"){
                var profile = data.Message;
                var zt_headimg = profile.Headportrait;
                if (zt_headimg != "") {
                    zt_headimg = www + "/static/images/Arena_" + zt_headimg + ".png";
                } else {
                    zt_headimg = www + "/static/images/Arena_13.png";
                }
                $("#zt_headimg").attr("src",zt_headimg);
            }

        });

        //qq账号绑定
        $("#btn_bindqq").click(function () {
            $.getJSON(www+"mine/bindaccountqq",{openID:openID,nickname:nickname },function (data) {
                if(data.RetCode=="0"){
                    layer.msg("QQ与智盈账号绑定成功");
                    top.location.href=www+"mine/myprofile";
                }
                else{
                    alert(data.RetMsg);
                    return;
                }
            });
        });

        $(".btn-close").click(function () {
            closePCWindow();
        });
    });
</script>
</body>

</html>