<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="shortcut icon" href="$StaticServerHost$/static/images/favicon.png" type="image/x-icon">
    <link rel="icon" sizes="any" mask="" href="$StaticServerHost$/static/images/favicon.png">
    <!--[if lt IE 9]>
    <script src="$StaticServerHost$/static/libs/html5shiv.js"></script>
    <script src="$StaticServerHost$/static/libs/respond.js"></script>
    <script src="$StaticServerHost$/static/libs/excanvas.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/css/app.css?rev=$ResourceVersion$">
    <link rel="stylesheet" type="text/css" media="screen" href="$StaticServerHost$/static/libs/swiper/css/swiper.min.css?rev=$ResourceVersion$">
    <script src="$StaticServerHost$/static/libs/jquery/jquery.min.js?rev=$ResourceVersion$"></script>
    <script src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
    <script src='$StaticServerHost$/static/libs/swiper/js/swiper.min.js'></script>
</head>

<body>
<div class='pl-container usrcenter'>
    <!-- section-headtop -->
    <div class='headertop'>
        <div class='logoicon'></div>
        <div class='topnav' id='topNav'>
            <div class='navmenu'>
                <ul>
                    <li class="" data-item="homepage">
                        <a href="$ServerVirtualPath$/homepage/index$SSOQueryString$">
                                <span class="sign">
                                    <i class="icon">&#xe648;</i>
                                </span>
                            <span class="txt">首 页</span>
                        </a>
                    </li>
                    <li class="" data-item="activitiespage">
                        <a href="$ServerVirtualPath$/activity/index$SSOQueryString$">
                                <span class="sign">
                                    <i class="icon">&#xe631;</i>
                                </span>
                            <span class="txt">活 动</span>
                        </a>
                    </li>
                    <li class="active" data-item="userpage">
                        <a href="$ServerVirtualPath$/mine/index$SSOQueryString$">
                                <span class="sign">
                                    <i class="icon">&#xe600;</i>
                                </span>
                            <span class="txt">我 的</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='topright'>
            <div class='btn btn-default btn-zixun'>
                <i class='icon '>&#xe669;</i> <span id="span_online"></span></div>
        </div>
    </div>
    <!-- end section-headtop -->

    <!--  section-main 主显示区域   -->
    <div class='maincont' id='MainCont'>
        <div class='mc-pack'>
            <div class='iner'>
                <div class='cntbox'>
                    <!-- 用户 我的  -->
                    <div class="pageItem userpage" style='display:block;'>
                        <div>
                            <div class="usr-anounce">
                                <div class="btn-goback pull-right">
                                    <a href='javascript:history.back();'>
                                        <i class='icon-1'>&#xe60c;</i>返回</a>
                                </div>
                                <div class="text-primary">
                                    <i class="icon">&#xe60b;</i> 个人信息 </div>
                            </div>
                            <div class="usr-bindinfo">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class='avatar-mask'>
                                                <img id="pro_headimg" src="../static/images/usr-avatar.png" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="usr-infobox">
                                                <div class="row">
                                                    <div class="col-xs-3">昵称：</div>
                                                    <div class="col-xs-9" id="pro_nickname"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">手机：</div>
                                                    <div class="col-xs-9" id="pro_PhoneBind">
                                                        <a href="###" name="btn_PhoneBind" data-type="add" data-cid="0">绑定手机号</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">EM账号：</div>
                                                    <div class="col-xs-9" id="pro_EMBind">
                                                            <a href="###" name="btn_EMBind" data-type="add" data-cid="0">绑定EM账号</a>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-xs-3">微信：</div>
                                                    <div class="col-xs-9" id="pro_WeChatBind">
                                                        <a href="###" name="btn_WeChatBind" data-type="add" data-cid="0">绑定微信账号</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">QQ：</div>
                                                    <div class="col-xs-9" id="pro_QQBind">
                                                        <a href="###" name="btn_QQBind" data-type="add" data-cid="0">绑定QQ账号</a>
                                                    </div>
                                                </div>-->
                                                <div class="row" id="div_province">
                                                    <div class="col-xs-3">所在城市：</div>
                                                    <div class="col-xs-9" id="pro_province"></div>
                                                </div>
                                                <div class="row" id="div_serviceAgentName">
                                                    <div class="col-xs-3">服务网点：</div>
                                                    <div class="col-xs-9" id="pro_serviceAgentName"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                            <div class="user-testline"><div class="ut-item"><a href="http://suit.emoney.cn" target="_blank">用户评测</a></div><div class="ut-item"><a id="pid_xy" style="cursor: pointer;">用户协议</a></div></div>
                        </div>
                    </div>
                    <!-- 用户 我的 end -->

                </div>
            </div>
        </div>
    </div>
    <!-- end section-main -->
</div>

<!-- 弹窗内容 start-->
<div class="propwin-pack" style="">

    <!-- 绑定手机弹窗 -->
    <div class="popwin-section popwin-regist" id='bindPhone' style="display:none; ">
        <div class="pw-p">
            <div class="pw-iner">
                <div class="pw-c">
                    <div class="tit-tips">免费领特权、登录更方便、密码轻松找</div>
                    <div>

                        <form class="form-horizontal" id="form_bindPhone">
                            <div class="form-group">
                                <label for="usrbindMobile" class="col-xs-3 required"> 手机号码 </label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" flag="newMobile" id="usrbindMobile" placeholder="请输入11位手机号" data-type="手机号码">
                                </div>
                                <div class="col-xs-3"><span class="btn-getcheckcode" data-mobileid="usrbindMobile" id="btn_getPwd"> 获取验证码 </span></div>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="form-group">
                                <label for="usrbindPwd" class="col-xs-3 required"> 短信验证码 </label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="usrbindPwd" placeholder="请输入短信验证码" data-type="短信验证码">
                                </div>

                                <div class="clearfloat"></div>
                            </div>
                            <div class="form-group">
                                <label for="usrbindphonetCheckcode" class="col-xs-3 required"> 图形验证码 </label>
                                <div class="col-xs-4" style=" padding-right: 0">
                                    <input type="text" class="form-control" id="bindphone_code" placeholder="请输入图形验证码" data-type="图形验证码">
                                </div>
                                <div class="col-xs-4" style=" padding-right: 0">
                                    <img name="img_code" style="cursor: pointer"/>
                                </div>

                                <div class="clearfloat"></div>
                            </div>

                            <div class="form-submitline">
                                <button type="button" class="btn btn-primary" id="submit_phonebind"> 确定绑定 </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- 绑定EM账号弹窗 -->
    <div class="popwin-section popwin-regist" id='bindEM' style="display:none; ">
        <div class="pw-p">
            <div class="pw-iner">
                <div class="pw-c">
                    <div class="tit-tips">免费领特权、登录更方便、密码轻松找</div>
                    <div>

                        <form class="form-horizontal" id="form_bindEM">
                            <div class="form-group">
                                <label for="usrbindEM" class="col-xs-3 required"> EM账号 </label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="usrbindEM" placeholder="请输入需要绑定的EM账号" data-type="EM账号">
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="form-group">
                                <label for="usrbindPwd" class="col-xs-3 required"> 账号密码 </label>
                                <div class="col-xs-7">
                                    <input type="password" class="form-control" id="bindem_pwd" placeholder="请输入绑定账号的密码" data-type="账号密码">
                                </div>

                                <div class="clearfloat"></div>
                            </div>
                            <div class="form-group">
                                <label for="usrbindEMCheckcode" class="col-xs-3 required"> 图形验证码 </label>
                                <div class="col-xs-4" style=" padding-right: 0">
                                    <input type="text" class="form-control" id="bindem_code" placeholder="请输入图形验证码" data-type="图形验证码">
                                </div>
                                <div class="col-xs-4" style=" padding-right: 0">
                                    <img name="img_code" style="cursor: pointer"/>
                                </div>
                                <div class="clearfloat"></div>
                            </div>

                            <div class="form-submitline">
                                <button type="button" class="btn btn-primary" id="submit_embind"> 确定绑定 </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- 用户信息 弹窗 -->
    <div class="popwin-section popwin-regist" id='div_removeTips' style="display:none; ">
        <div class="pw-p">
            <div class="pw-iner">
                <div class="pw-c">
                    <div class="usr-tipsinfo">
                        <div class="usr-tipstxt">
                            为确保您的自选股数据安全，【解除绑定】之前会将本地自选股备份到“云自选股”
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- 弹窗内容 end -->

<script type="text/javascript" src='$StaticServerHost$/static/libs/json2/json2.min.js?$ResourceVersion$'></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/layer/layer.js?rev=$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/placeholder/jquery.placeholder.min.js?rev=$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/rsa/rasall.js?rev=$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/rsa/rsa.js?rev=$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/EMCommon.js?rev=$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/myprofile.js?rev=$ResourceVersion$"></script>
<script type="text/javascript" src="http://static.emoney.cn/ds/jrtpad/jrtpadtongji.js"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
<script type="text/javascript" src='$StaticServerHost$/static/scripts/ad.js?$ResourceVersion$'></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
<script>
    $(document).ready(function () {
        initAdvisoryId();
        $(".btn-close").click(function () {
            closePCWindow();
        });
    });


    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        paginationClickable: true,
        loop: false
    });

    $('.swiper-button-prev').click(function() {
        swiper.swipePrev();
    })
    $('.swiper-button-next').click(function() {
        swiper.swipeNext();
    })

    $("#pid_xy").click(function () {
        var pid = ParamFunc.getParam("pid");
        if(pid=="888010000"|| pid=="888020000")
        {
            window.open("http://fuwu.emoney.cn/Register/RiskControl?pid="+pid,"_target")
        }else {
            window.open("http://www.emoney.cn/treaty/jrpt_xy.htm?type=jrpt&" + location.search, "_target");
        }
    });

</script>
</body>

</html>