<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程详情</title>
	 <!-- build:styles styles/default.css -->
    <link rel="stylesheet" type="text/css" href="$StaticServerHost$/static/styles/article.css?$ResourceVersion$">
     <!-- endbuild -->
    <style type="text/css">
        html,body{
            background-color: #F2F2F2;
        }
    </style>
    <script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
    <script type="text/javascript">
        // 默认页面的宽高尺寸
        var winHeight = 658, winWidth = 1298;

        // 先返回页面的宽高
        try {
            PC_JH("EM_FUNC_DLGSIZE", winHeight + "&" + winWidth);
        } catch (ex) { }
    </script>
</head>
<body>
	<div class="mainpack">
		<div class="article" id="div_article">

		</div>
	</div>
<script id="NewsInfo-template" type="text/x-handlebars-template">
    <div class="article-tit">
        <h2>{{Title}}</h2>
        <div class="article-date">{{DateFormat LastModifyTime "yyyy-mm-dd HH:MM"}}</div>
        <div class="grayline"></div>
    </div>
    <div class="article-cnt">
        <div class="iner">
            {{#IsNotArticleFormat NewsType}}
                <div class="videowrapper rel">
                    <a href="{{VideoUrl}}" target="_blank"><i class="videoplay-icon abs"></i></a>
                    <img src="{{CoverImgFormat CoverImg}}" alt="">
                </div>
            {{else}}
            {{/IsNotArticleFormat}}
            <div>
               {{{NewsContent}}}
            </div>
        </div>
    </div>
</script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/dateformat.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/handlebars/dist/handlebars.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/jquery.min.1.8.3.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/handlebars-common.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/EMCommon.js?$ResourceVersion$"></script>
	 <script type="text/javascript">
	 	$(document).ready(function() {
	 		$(window).resize(function(event) {
	 			/* Act on the event */
	 			resize();
	 		});
	 		resize();
	 		function resize(){
	 			$('.article-cnt').height($(window).height()-$('.article-tit').outerHeight()-8);
	 		}

	 		var NewsID = ParamFunc.getParam("newsid");// $.fn.getUrlVar('newsid');

    		var source = $("#NewsInfo-template").html();
	 		var template = Handlebars.compile(source);


            $.ajax({
                url:www + "panwai/newsinfo" ,
                type: 'GET',
                dataType: 'json',
                data: {NewsId:NewsID,r:Math.random()},
                success: function(data){
                    if(data.RetCode=="0") {
                        var retObj = data.Message;
                        var html = template(retObj);
                        $("#div_article").html(html);
                    }
                    resize();
                    EM_FUNC_DOWNLOAD_COMPLETE();
                },
                beforeSend: function () {

                },
                error: function(XMLHttpRequest, textStatus, errorThrown){

                }
            });


    //     if(data.RetCode=="0") {
    //         var retObj = data.Message;
    //         var html = template(retObj);
    //         $("#div_article").html(html);
    //     }
    // });
	 	});

	 </script>
</body>
</html>