<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课堂－精选课</title>
    <!-- build:styles styles/default.css -->
    <link rel="stylesheet" type="text/css" href="$StaticServerHost$/static/styles/index.css">
    <!-- endbuild -->
</head>
<body>
    <div class="mainpack">
    	<div class="lessoncontainer">
    		<div class="lesson-nav">
    			<ul>
    				<li class="active">
    					学习综合
    				</li>
    			</ul>
    		</div>
    		<div class="lesson-cnt">
    			<div class="lesson-menu">
                    <div class="iner courseitemTop" id="top_NewsList">

                    </div>
                    <div class="iner pr0" style="padding-right: 0;">
                        <div class="courselist scrolllessoncnt" id="div_xxzhList">
							<ul id="ul_xxzhList">

							</ul>
                        </div>
                    </div>

    			</div>
				<div class="lesson-details">
	    			<div class="article-wrapper">
	    				<div class="article" id="div_article">

	    				</div>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </div>
<input type="hidden" id="PageIndex" value="1">
<script id="xxzhTopNewsList-template" type="text/x-handlebars-template">
<ul>
<li class="lesson-menu-i clearfix" newsid="{{ID}}">
    <div class="desc fl"><span class="{{NewsTypeFormat NewsType}}"></span>{{Title}}</div>
	{{#IsTopFormat IsTop}}
	<span class="top fr">置顶</span>
	{{else}}
	{{/IsTopFormat}}
</li>
</ul>
</script>

<script id="xxzhNewsList-template" type="text/x-handlebars-template">
{{#each NewsList}}
<li class="lesson-menu-i clearfix" newsid="{{ID}}">
<span class="desc fl"><span class="{{NewsTypeFormat NewsType}}"></span>{{Title}}</span>
<span class="right fr">{{DateFormat LastModifyTime "yyyy-mm-dd"}}</span>
</li>
{{/each}}
</script>

<script id="NewsInfo-template" type="text/x-handlebars-template">
<div class="article-tit">
    <h2>{{Title}}</h2>
    <div class="article-date">{{DateFormat LastModifyTime "yyyy-mm-dd HH:MM"}}</div>
    <div class="doubleline"></div>
</div>
<div class="article-cnt">
    <div class="iner">
		{{#IsNotArticleFormat NewsType}}
		<div class="videowrapper rel">
            <a href="{{VideoUrl}}" target="_blank"><i class="videoplay-icon abs"></i></a>
			<img src="{{CoverImgFormat CoverImg}}" alt="">
		</div>
		{{else}}
		{{/IsNotArticleFormat}}
        <div class="details">
        {{{NewsContent}}}
		</div>
    </div>
</div>
</script>

<script type="text/javascript" src="$StaticServerHost$/static/scripts/config_$StaticResEnv$.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/handlebars/dist/handlebars.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/jquery.min.1.8.3.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/dateformat.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/EMCommon.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/libs/json3.min.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/Mess.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/handlebars-common.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/params.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/em_pc.js?$ResourceVersion$"></script>
<script type="text/javascript" src="$StaticServerHost$/static/scripts/lesson.js?$ResourceVersion$"></script>
</body>
</html>