/*
* @Author: gitshilly
* @Date:   2018-03-13 14:57:02
* @Last Modified by:   gitshilly
* @Last Modified time: 2018-03-15 16:13:15
*/
@charset "utf-8";
/*basic*/
html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, a, img, th, td, form, fieldset, iframe, object, pre, code, legend, blockquote, input, textarea, button{
border:0 none;
margin:0;
outline:0 none;
padding:0;
list-style-type:none;
font-weight:normal;
}
html{SCROLLBAR-FACE-COLOR:#999;SCROLLBAR-HIGHLIGHT-COLOR:#999;  SCROLLBAR-SHADOW-COLOR:#999;   SCROLLBAR-ARROW-COLOR:#fc0;  SCROLLBAR-TRACK-COLOR:#666; SCROLLBAR-3DLIGHT-COLOR:#666; SCROLLBAR-DARKSHADOW-COLOR:#666;}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);background-color: rgba(0,0,0,0.001);}
::-webkit-scrollbar{width: 7px;height: 7px;background-color: #111; }
::-webkit-scrollbar-thumb{background-color: #333;border:1px solid #333; }
.clearfix:after{display:block;clear:both;content:" ";visibility:hidden;height:0;font-size: 0;}
.clearfix{zoom:1;display: block;}

body{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";font-weight:normal;}
input, textarea, button { font-family:inherit;}
.inline{display:inline-block;*display:inline;*zoom:1;}
.mt10 {
    margin-top: 10px;
}
.pd10 {
padding: 10px 0;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.nonedata {
    padding: 20px 20px;
    text-align: center;
    color: #ddd;
}
.loading {
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    border: 1px solid #666;
    position: absolute;
    top: 40%;
    left: 42%;
    width: 130px;
    background: #000 url(../images/spinner.gif) no-repeat 5px 50%;
    text-indent: 42px;
    z-index: 1000;
    padding-right: 10px;
}
a{
    color:#fff;
}
.switchlab-cnt-i{
    position: relative;
}
