html {
  background-color: #28282a;
  overflow-x: hidden;
}
body {
  color: #fff;
  background: transparent;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfloat {
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
}
.pad-placeholder {
  color: #aaa;
}
.pl-container {
  background-color: #f4f4f4;
}
.central {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.main-container {
  width: 714px;
  margin: 0 auto;
}
.main-bg {
  width: 714px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: -10;
}
.main-bg li {
  height: 405px;
  width: 714px;
}
.main-bg .bg1 {
  background: url(../images/guessmarket/bg_01.jpg) center top no-repeat;
}
.main-bg .bg2 {
  background: url(../images/guessmarket/bg_02.jpg) center top no-repeat;
}
.main-bg .bg3 {
  background: url(../images/guessmarket/bg_03.jpg) center top no-repeat;
}
.main-bg .bg4 {
  background: url(../images/guessmarket/bg_04.jpg) center top no-repeat;
}
.act-thisweek-prize {
  width: 120px;
  height: 101px;
  background: url(../images/guessmarket/pop_tip_bg.png) no-repeat 0 0;
  overflow: hidden;
  position: absolute;
  top: 72px;
  left: 50%;
  margin-left: 186px;
}
.act-thisweek-prize .act-prizename {
  padding-top: 50px;
  text-align: center;
  font-size: 16px;
}
.act-content .ac-head-top {
  height: 175px;
  width: 332px;
  margin: 0 auto;
  background: transparent url(../images/guessmarket/ac_header_top.png) center top no-repeat;
}
.act-content .ac-anounce-top {
  text-align: center;
}
.act-content .ac-anounce-top .ac-txt {
  padding: 3px 1em;
  background-color: #141616;
  color: #ff0000;
}
.act-sect {
  width: 470px;
  margin: 0 auto;
}
.ac-usr-part {
  height: 275px;
}
.ac-usr-part .acup-state {
  display: none;
}
.ac-timecounter {
  text-align: left;
  height: 108px;
  overflow: hidden;
}
.ac-timecounter s {
  text-decoration: none;
}
.ac-timecounter .ac-timer-tit {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}
.ac-timecounter .timer-pack {
  width: 360px;
  margin: 0 auto;
  padding-left: 15px;
}
.ac-timecounter .timer-box {
  width: 350px;
  margin: 0 auto;
}
.ac-timecounter .timer-box li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 112px;
  height: 64px;
}
.ac-timecounter .timer-box li span {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 64px;
  width: 100%;
  background: url(../images/guessmarket/timer_box.png) no-repeat 0 0;
}
.ac-timecounter .timer-box li span b,
.ac-timecounter .timer-box li span i,
.ac-timecounter .timer-box li span s {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.ac-timecounter .timer-box li span b {
  position: relative;
  width: 86px;
  background: url(../images/guessmarket/timer_back.png) repeat-x 0 center;
}
.ac-timecounter .timer-box li span s {
  height: 62px;
  width: 86px;
  line-height: 64px;
  font-size: 50px;
  text-align: right;
  letter-spacing: 16px;
  text-indent: 7px;
  *text-indent: -7px;
}
.ac-timecounter .timer-box li span i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 62px;
  width: 86px;
  background: url(../images/guessmarket/timer_marker.png) repeat-x 0 center;
}
.aces-result .aces-user-num {
  font-size: 20px;
  text-align: center;
  color: #fff100;
  font-family: "宋体";
  font-weight: 600;
  padding: 5px 0;
}
.aces-result .aces-user-inf {
  line-height: 20px;
  text-align: center;
}
.aces-btn-line {
  padding: 20px 0 0 0;
  text-align: center;
}
.aces-btn-line .btn-p {
  width: 252px;
  height: 58px;
  margin: 0 auto;
  background: url(../images/guessmarket/btn-line-bg.png) 0 0 no-repeat;
  padding-top: 3px;
}
.aces-btn-line .btn {
  background: 0 0 !important;
  border: none;
  width: 242px;
  font-weight: bold;
  outline: none;
}
.ac-section {
  color: #2c2e30;
  margin: 10px 0;
}
.ac-section dt {
  padding: 0 0 10px 0;
}
.ac-section dt b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 22px;
  font-weight: normal;
  background-color: #f5e3c3;
  padding: 0 10px;
  color: #444;
  *padding-top: 5px;
}
.ac-section dt b > i {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: red;
  vertical-align: middle;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 8px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.ac-section dd p {
  margin: 0 0 5px 0;
}
#actDrawlotteryRules {
  font-size: 15px;
}
#actDrawlotteryRules b {
  font-size: 15px;
}
.ac-takefail {
  padding-top: 35px;
}
.ac-takefail .ac-tf-state {
  width: 335px;
  height: 91px;
  margin: 0 auto;
  background: url(../images/guessmarket/ac-takefail.png) 0 0 no-repeat;
}
.ac-takefail .ac-tf-state .txt-iner {
  padding: 25px 10px 0 100px;
}
.tb-layoutlr {
  width: 100%;
}
.tb-layoutlr td {
  width: 50%;
}
.ac-rec-list {
  font-size: 15px;
  height: 170px;
  line-height: 30px;
}
.ac-rec-list.old-list {
  color: #187fc4;
  line-height: 22px;
}
.ac-rec-list .acr-tit {
  text-align: center;
  width: 70%;
  padding: 0 0 10px 0;
}
.ac-rec-list ul li {
  line-height: 22px;
}
.ac-rec-list ul li i,
.ac-rec-list ul li b {
  font-style: normal;
  font-weight: normal;
  display: block;
  float: left;
  width: 50%;
}
.act-winer-result .acw-tit {
  text-align: center;
  padding: 10px 0;
  color: #187fc4;
}
.act-winer-list {
  font-size: 15px;
}
.act-winer-list ul li {
  width: 50%;
  float: left;
  height: 84px;
}
.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 334px;
}
.sidebar .sidebar-p {
  width: 334px;
  height: 30px;
  margin-left: 30px;
  *margin-left: 0px\9;
  background-color: #2369b4;
  *filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  transform: rotate(90deg);
  -webkit-transform-origin: 0px 0px;
              -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  border: 1px solid transparent;
}
.sidebar .sidebar-p li {
  float: left;
  line-height: 30px;
  width: 24.5%;
  text-align: center;
  cursor: pointer;
}
.sidebar .sidebar-p li.current {
  background: url(../images/guessmarket/ppangle.png) center bottom no-repeat;
}
