@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
html {
    overflow-y: auto;
    overflow-x: auto; }
html::-webkit-scrollbar-track {
    background-color: #F5F5F5; }
html::-webkit-scrollbar {
    width: 6px;
    background-color: #e5e5e5; }
html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #e5e5e5; }
body {
    background-color: #f0f0f0; }
a {
    text-decoration: none;
    cursor: pointer; }
a:hover {
    text-decoration: underline; }
ul li {
    list-style: none;
    margin: 0;
    padding: 0; }
ul {
    list-style: none;
    margin: 0;
    padding: 0; }
p {
    margin: 0;
    padding: 0; }
input,
button,
select,
textarea {
    outline: none; }
textarea {
    resize: none; }
.icon-linker-small,
.icon-linker-middle,
.icon-linker-big {
    display: block; }
.icon-linker-small > i,
.icon-linker-middle > i,
.icon-linker-big > i {
    display: inline-block;
    margin-right: 5;
    vertical-align: top; }
.clearfloat {
    clear: both; }
a {
    text-decoration: none; }
.pull-right {
    float: right; }
.pull-left {
    float: left; }
.ifund-container {
    height: 100%;
    background-color: #f0f0f0;
    max-width: 1874px;
    *max-width: 1854px;
    min-width: 1058px;
    margin: 0 auto;
    padding: 0 10px;
    max-height: 950px; }
.ifund-container.ifund-live-container {
    min-width: 1180px; }
.ifund-header {
    height: 70px;
    padding-left: 30px;
    /* Safari 5.1 - 6.0 */
    /* Opera 11.1 - 12.0 */
    /* Firefox 3.6 - 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
    background: -webkit-linear-gradient(#fff, #f0f0f0);
    background: -o-linear-gradient(#fff, #f0f0f0);
    background: linear-gradient(#fff, #f0f0f0);
    /* 标准的语法 */ }
.ifund-header-box {
    height: 70px; }
.ifund-header-title {
    float: left;
    line-height: 70px;
    font-size: 34px;
    color: #3e3e3e;
    font-weight: 600; }
.ifund-header-nav {
    float: left;
    margin-left: 226px;
    margin-top: 15px; }
.ifund-header-nav .ifund-header-nav-item {
    float: left;
    height: 40px;
    font-size: 18px;
    width: 86px;
    text-align: center;
    margin: 0 20px;
    line-height: 40px;
    color: #333;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.ifund-header-nav .ifund-header-nav-item a:hover {
    text-decoration: none; }
.ifund-header-nav .ifund-header-nav-item.current {
    background-color: #ff8916;
    color: #fff; }
.ifund-header-nav .ifund-header-nav-item.current a {
    cursor: default;
    color: #fff; }
.ifund-header-right {
    float: right;
    margin-right: 10px;
    height: 70px; }
.ifund-header-right .header-pic {
    widows: 31px;
    height: 30px;
    margin-top: 20px;
    float: left;
    margin-right: 10px; }
.ifund-header-right .my-style {
    float: left;
    font-size: 18px;
    line-height: 70px;
    font-weight: 600; }
.ifund-header-right .my-style .style {
    color: #ff8916; }
.ifund-header-right .style-desc {
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 26px; }
.ifund-header-right .style-desc-wrapper {
    float: left;
    cursor: pointer;
    position: relative;
    height: 70px;
    z-index: 3; }
.ifund-header-right .style-desc-wrapper:hover .tips {
    display: block; }
.ifund-header-right .style-desc-wrapper .tips {
    position: absolute;
    left: -290px;
    *left: -330px;
    top: 70px;
    width: 318px;
    padding: 20px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    z-index: 1100;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: url("../images/opacity80.png") repeat\9;
    display: none; }
.ifund-header-right .style-desc-wrapper .tips .tips-title {
    font-size: 18px; }
.ifund-header-right .style-desc-wrapper .tips .tips-cont {
    font-size: 14px;
    line-height: 1.5; }
.ifund-middle {
    position: relative;
    height: 360px;
    z-index: 1; }
.ifund-middle .style-bg-box {
    width: 100%;
    width: auto\9;
    height: 360px;
    padding-left: 280px; }
.ifund-middle .style-bg-box .style-bg {
    width: 100%;
    height: 360px; }
.ifund-middle .style-bg-box .style-bg img {
    width: 100%;
    height: 100%;
    margin: 0; }
.ifund-middle .style-bg-box .style-bg.style-bg2, .ifund-middle .style-bg-box .style-bg.style-bg3, .ifund-middle .style-bg-box .style-bg.style-bg4, .ifund-middle .style-bg-box .style-bg.style-bg5, .ifund-middle .style-bg-box .style-bg.style-bg6 {
    display: none; }
.ifund-middle .style-list-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 360px;
    z-index: 200;
    background: url("../images/navbg.png") no-repeat; }
.ifund-middle .style-list {
    overflow: hidden;
    height: 360px;
    padding: 42px 30px 30px; }
.ifund-middle .style-item {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 24px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.ifund-middle .style-item:hover {
    color: #ffe6cd; }
.ifund-middle .style-item.current {
    cursor: default;
    color: #ff8916; }
.ifund-middle .style-item:active {
    color: #ff8916; }
.ifund-middle .style-item.first {
    cursor: default;
    color: #a0a0a0;
    margin-bottom: 30px;
    font-size: 16px; }
.style-desc-box {
    position: absolute;
    right: 0;
    top: 10px;
    overflow: hidden;
    height: 340px;
    z-index: 200; }
.style-desc-box .style-desc-item {
    float: left;
    height: 340px;
    background-color: #fff;
    width: 240px;
    text-align: center;
    padding: 0 25px;
    margin-right: 10px; }
.style-desc-box .style-desc-item .profit-percent {
    font-size: 40px;
    line-height: 48px;
    padding-top: 15px; }
.style-desc-box .style-desc-item .profit-date {
    font-size: 14px;
    color: #a0a0a0;
    line-height: 48px; }
.style-desc-box .style-desc-item .risk {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 12px;
    color: #ff8916;
    line-height: 26px;
    width: 60px;
    text-align: center;
    background-color: #fff9ea;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
.style-desc-box .style-desc-item .style-name {
    font-size: 18px;
    line-height: 48px;
    margin-top: 45px;
    color: #000; }
.style-desc-box .style-desc-item .style-description {
    font-size: 14px;
    line-height: 24px;
    color: #a0a0a0;
    height: 47px;
    word-break: break-all;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
.style-desc-box .style-desc-item .read-strategy {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 190px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #ff8916;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 15px; }
.ifund-bottom {
    padding: 10px 0;
    overflow: hidden;
    height: 516px; }
.live-box {
    width: 59.008%;
    background-color: #fff;
    float: left;
    height: 497px;
    overflow: hidden; }
.live-box .live-title {
    height: 60px;
    background-color: #fffaf5;
    margin-bottom: 10px;
    padding-left: 30px;
    background: #fffaf5 url("../images/living.png") 30px 18px no-repeat; }
.live-box .live-title.topic-title-box {
    height: 100px;
    *height: 50px;
    background: #fffaf5 url("../images/todaytopic.png") 30px 18px no-repeat;
    padding: 50px 33px 0 30px; }
.live-box .live-title.topic-title-box .topic-title {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    float: left;
    margin-top: 8px; }
.live-box .live-title.topic-title-box .rili-box {
    float: right;
    height: 26px; }
.live-box .live-title.topic-title-box .rili-box .date {
    color: #ff8916;
    line-height: 26px;
    font-size: 18px;
    height: 26px;
    float: left; }
.live-box .live-title.topic-title-box .rili-box .rili {
    float: left;
    width: 28px;
    height: 26px;
    background: url("../images/ifundriliicon.png") no-repeat;
    cursor: pointer;
    margin-left: 20px; }
.today-topic-box {
    margin: 0 10px;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    background-color: #fffaf5;
    overflow: hidden; }
.today-topic-box .topic-title {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    float: left; }
.today-topic-box .read-topic {
    font-size: 18px;
    float: right; }
.today-topic-box .read-topic a {
    color: #ff8916; }
.live-content-list {
    padding: 0 20px; }
.live-content-list .live-content-item {
    padding: 10px 0 22px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #333; }
.live-content-list .live-content-item:hover a {
    text-decoration: underline; }
.live-content-list .live-content-item .live-time-and-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    font-weight: 600; }
.live-content-list .live-content-item .live-content {
    font-size: 14px;
    line-height: 32px;
    display: block; }
.real-time-interaction-box {
    width: 40.453%;
    float: right;
    background-color: #fff;
    height: 497px;
    overflow: hidden; }
.real-time-interaction-box .interaction-title {
    height: 60px;
    margin-bottom: 10px;
    width: 100%;
    *width: auto;
    padding-left: 30px;
    background: #fffaf5 url("../images/realinteraction.png") 30px 18px no-repeat; }
.real-time-interaction-box .interaction-content-list {
    padding: 0 20px; }
.real-time-interaction-box .interaction-content-item {
    color: #000;
    padding: 24px 0px 22px 10px;
    border-bottom: 1px solid #e5e5e5; }
.real-time-interaction-box .interaction-content-item:hover a {
    text-decoration: underline; }
.real-time-interaction-box .interaction-content-item:hover a em {
    text-decoration: none; }
.real-time-interaction-box .interaction-content-item .ask {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 13px;
    height: 24px;
    position: relative; }
.real-time-interaction-box .interaction-content-item .ask span {
    position: absolute;
    left: 0;
    top: 0;
    color: #ff8916; }
.real-time-interaction-box .interaction-content-item .ask .ask-link {
    float: left;
    width: 100%;
    padding-left: 32px; }
.real-time-interaction-box .interaction-content-item .answer {
    font-size: 14px;
    line-height: 34px;
    height: 34px; }
.real-time-interaction-box .interaction-content-item .answer .answer-wrapper {
    position: relative;
    height: 34px; }
.real-time-interaction-box .interaction-content-item .answer .answer-wrapper span {
    position: absolute;
    left: 0;
    top: 0;
    color: #5c96ff; }
.real-time-interaction-box .interaction-content-item .answer .answer-wrapper .answer-link {
    float: left;
    padding-left: 30px;
    width: 100%; }
.real-time-interaction-box .interaction-content-item .answer .teacher-link {
    display: block;
    width: 100%; }
.ifund-home-bottom .real-time-interaction-box {
    position: relative; }
.ifund-home-bottom .interaction-content-item {
    height: 146px;
    *height: 100px; }
.ifund-home-bottom .live-content {
    height: 32px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
.ifund-home-bottom .ask-link {
    height: 24px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
.ifund-home-bottom .answer-link, .ifund-home-bottom .teacher-link {
    height: 34px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
.live-room-desc {
    height: 100px;
    *height: 60px;
    padding: 20px 30px 20px 115px;
    background-color: #fff;
    min-width: 100px;
    margin-bottom: 10px;
    position: relative; }
.live-room-desc .live-room-pic {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px; }
.live-room-desc .live-room-and-hot {
    height: 36px;
    width: 100%; }
.live-room-desc .live-room-and-hot .live-room-name {
    float: left;
    font-size: 24px;
    color: #333;
    line-height: 36px; }
.live-room-desc .live-room-and-hot .live-room-hot {
    float: left;
    font-size: 18px;
    color: #ff1616;
    line-height: 36px;
    margin-left: 15px;
    background: url("../images/hoticon.png") 0 6px no-repeat;
    padding-left: 40px;
    height: 36px; }
.live-room-desc .biref-and-teacher {
    font-size: 14px;
    margin-top: 5px; }
.ifund-live-bottom {
    height: 880px; }
.ifund-live-bottom .live-box {
    height: 860px; }
.ifund-live-bottom .live-content-list .live-content-item .live-content {
    line-height: 28px; }
.ifund-live-bottom .real-time-interaction-box {
    height: 860px;
    background-color: #f7f7f7; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .answer {
    height: auto;
    line-height: 28px; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .answer .answer-and-type {
    color: #5c96ff; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .ask {
    height: auto;
    font-size: 14px;
    font-weight: normal; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .ask .ask-link {
    color: #000; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .ask {
    position: static; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .ask span {
    position: static;
    top: none;
    left: none; }
.ifund-live-bottom .real-time-interaction-box .interaction-content-item .ask .ask-link {
    float: none;
    padding-left: 0;
    width: auto; }
.ifund-live-bottom .interaction-content-box {
    background-color: #fff; }
.ifund-live-bottom .live-content-box {
    height: 750px;
    overflow: auto; }
.ifund-live-bottom .interaction-content-inner {
    height: 560px;
    overflow: auto;
    background-color: #fff; }
.ifund-live-bottom .interaction-content-inner::-webkit-scrollbar-track, .ifund-live-bottom .live-content-box::-webkit-scrollbar-track {
    background-color: #F5F5F5; }
.ifund-live-bottom .interaction-content-inner::-webkit-scrollbar, .ifund-live-bottom .live-content-box::-webkit-scrollbar {
    width: 6px;
    background-color: #e5e5e5; }
.ifund-live-bottom .interaction-content-inner::-webkit-scrollbar-thumb, .ifund-live-bottom .live-content-box::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #e5e5e5; }
.ifund-live-bottom .my-question-list, .ifund-live-bottom .all-question-list {
    display: none; }
.ifund-live-bottom .my-question-list.open, .ifund-live-bottom .all-question-list.open {
    display: block; }
.interaction-tab .tab-box {
    float: right;
    margin-top: 15px; }
.interaction-tab .tab-box span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer; }
.interaction-tab .tab-box span.current {
    background: #ff8916;
    color: #fff; }
.interaction-tab .rili {
    float: right;
    width: 28px;
    height: 60px;
    background: url("../images/ifundriliicon.png") 0 17px no-repeat;
    cursor: pointer;
    margin-right: 20px; }
.quiz-box {
    height: 120px;
    background: #f8f8f8;
    padding: 10px;
    *height: 100px;
    width: 100%;
    *width: auto; }
.quiz-box .quiz-inner {
    height: 100px;
    *height: 80px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: relative; }
.quiz-box .quiz-inner .quiz-input {
    width: 100%;
    height: 100px;
    *height: 80px;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
    resize: none; }
.quiz-box .quiz-inner .expression-and-btn {
    position: absolute;
    right: 0;
    bottom: 20px;
    height: 30px; }
.quiz-box .quiz-inner .expression-and-btn .expression {
    float: right;
    background: url("../images/expression.png") no-repeat;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px; }
.quiz-box .quiz-inner .expression-and-btn .submit {
    float: right;
    width: 80px;
    color: #fff;
    line-height: 30px;
    border: none;
    text-align: center;
    background-color: #ff8916;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    margin-right: 10px;
    cursor: pointer; }
#qqFace,
.qqFace {
    display: none;
    bottom: 89px;
    right: 0px;
    border: 1px solid #ddd;
    min-width: 300px;
    min-width: 340px\9;
    left: unset !important;
    top: unset !important;
    background-color: #fff; }
#qqFace table td img,
.qqFace table td img {
    border: 1px solid transparent; }
#qqFace table td:hover img,
.qqFace table td:hover img {
    border: 1px solid #28629e; }
.clear {
    clear: both; }
.pl40 {
    padding-left: 40px; }
.fred {
    color: #E24528; }
.fgreen {
    color: #31CC55; }
.fgray {
    color: #A0A0A0; }
.orange {
    color: #F9881E; }
.invest-type {
    background-color: #FFFCF9;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600; }
.invest-type dt {
    padding: 0 35px;
    font-size: 18px;
    color: #F9881E;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-right: 1px solid #E5E5E5; }
.invest-type dt > i {
    width: 14px;
    height: 14px;
    background: url(../images/expand_icon.png) center no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.invest-type dd {
    padding: 0 25px 0 50px;
    font-size: 16px;
    color: #A0A0A0;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.invest-type dd.actived {
    cursor: default;
    color: #3d3d3d; }
.invest-type .iner {
    max-width: 1150px;
    margin: 0 auto;
    position: relative; }
.invest-type .poptype {
    font-weight: normal;
    position: absolute;
    left: 0px;
    top: 30px;
    -webkit-box-shadow: 0 0px 8px #ddd;
    box-shadow: 0 0px 8px #ddd;
    background-color: #fff;
    padding: 10px 40px;
    line-height: 2.5;
    margin: 0;
    font-size: 18px;
    display: none;
    z-index: 100; }
.invest-type .poptype li {
    cursor: pointer; }
.invest-type .poptype li.active {
    color: #F9881E;
    cursor: default; }
.invest-type.active .poptype {
    display: block; }
.ifund-module-i {
    background-color: #fff;
    margin-bottom: 10px; }
.ifund-module-i .iner {
    max-width: 1130px;
    padding-left: 20px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto; }
.ifund-module-i .ifund-m-i-header {
    font-size: 18px;
    padding: 15px 0; }
.ifund-module-i .ifund-m-i-header i {
    width: 6px;
    height: 30px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    background-color: #F9881E;
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.ifund-module-i .ifund-m-i-header .expandInfos {
    padding-left: 170px;
    font-size: 14px; }
.ifund-module-i .ifund-m-i-c {
    padding: 20px 0; }
.ifund-module-i .ifund-m-i-c .iner {
    width: auto;
    padding-top: 10px; }
.chartwrapper {
    float: left;
    width: 455px;
    height: 400px;
    border-right: 1px dashed #eee; }
.chartwrapper h4 {
    font-size: 16px;
    color: #999;
    padding-bottom: 15px; }
.chartwrapper i {
    width: 8px;
    height: 8px;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #6FACE7; }
.chartwrapper .chart {
    width: 455px;
    height: 295px; }
.ifund-type-details {
    margin-left: 495px;
    color: #A7A7A7;
    line-height: 1.6; }
.ifund-type-details h4 {
    line-height: 1.8;
    color: #333;
    font-size: 17px; }
.ifund-type-details .ifund-zf {
    color: #333;
    margin-top: 15px;
    background-color: #FFFCF9;
    padding: 15px 20px; }
.ifund-type-details .ifund-zf h1 {
    font-size: 36px;
    font-weight: normal; }
.ifund-type-details .ifund-zf li {
    width: 25%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px dashed #F9881E;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.ifund-type-details .ifund-zf li > span {
    font-size: 18px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 42px;
    line-height: 40px;
    vertical-align: bottom; }
.ifund-type-details .ifund-zf li.last {
    border-right: 0; }
.ifund-tab {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; }
.ifund-tab thead tr th {
    height: 30px;
    background-color: #FFFFFF;
    color: #999999;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #EEEEEE; }
.ifund-tab tbody tr td {
    text-align: left; }
.ifund-tab tbody tr td div {
    margin: 5px 0;
    padding: 10px 0 10px 20px;
    background-color: #F8F8F8; }
.switchwrapper .switch-header {
    position: relative; }
.switchwrapper .switch-header .switch-header-tips {
    position: absolute;
    left: 600px;
    bottom: 0; }
.switchwrapper .switch-header .switch-header-i {
    height: 40px;
    line-height: 40px;
    width: 120px;
    background-color: #EEEEEE;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.switchwrapper .switch-header .switch-header-i.actived {
    color: #fff;
    background-color: #F9881E;
    cursor: default; }
.leftchart {
    width: 750px;
    float: left; }
.leftchart .charttype {
    background-color: #F8F8F8;
    padding: 10px; }
.leftchart .charttype > li {
    padding: 3px 10px;
    margin-right: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    cursor: pointer; }
.leftchart .charttype > li.actived {
    cursor: default;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px 5px;
    background-color: #A0A0A0;
    color: #fff; }
.leftchart .chart-c {
    width: 100%;
    height: 330px; }
.leftchart .chart-c > .chart {
    width: 100%;
    height: 100%; }
.strategy .leftchart {
    width: 240px; }
.strategy .leftchart .chart {
    width: 240px;
    height: 240px; }
.strategy .strategyinfo {
    margin-left: 260px;
    padding-top: 40px; }
.strategy .strategyinfo .s-tips {
    line-height: 1.6;
    font-size: 16px;
    padding-left: 20px; }
.strategy .strategyinfo .s-details {
    padding-top: 75px;
    min-height: 260px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.strategy .strategyinfo .s-details > dl {
    width: 50%;
    float: left;
    padding-left: 20px;
    border-right: 1px dashed #ccc; }
.strategy .strategyinfo .s-details > dl:nth-child(even) {
    border-right: 0; }
.strategy .strategyinfo .s-details > dl dt {
    font-size: 18px;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
.strategy .strategyinfo .s-details > dl dt > span {
    padding-right: 20px; }
.strategy .strategyinfo .s-details > dl dd {
    color: #a0a0a0;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
.strategy .strategyinfo .s-details > dl dd > span {
    padding-right: 20px; }
.chart-explain {
    margin-left: 760px; }
.chart-explain dt {
    background-color: #F8F8F8;
    padding-left: 20px;
    height: 50px;
    line-height: 50px; }
.chart-explain dd {
    background-color: #F8F8F8;
    padding: 10px 0 10px 20px;
    margin-top: 10px; }
.chart-explain dd p {
    line-height: 2; }
.chart-explain dd h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal; }
