.pic-pop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    background: url(../images/opacity70.png) repeat;
    display: none;
    cursor: pointer;
}

.pic-pop .get-img {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.pic-pop .get-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    *margin-top: 5%;
}

.pic-pop .get-img span {
    display: table-cell;
    vertical-align: middle;
    *margin-top: 5%;
}