<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <link rel="dns-prefetch" href="//static.dsclient.emoney.cn">
    <link rel="dns-prefetch" href="//static.emoney.cn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>基金首页</title>
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/home.css?rev=$ResourceVersion$">
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>
</head>

<body>
<div class="ifund-container">
    <div class="ifund-header">
        <div class="ifund-header-box">
            <div class="ifund-header-title">基金频道</div>
            <ul class="ifund-header-nav">
                <li class="ifund-header-nav-item current"><a href="javascript:;">首页</a></li>
                <li class="ifund-header-nav-item"><a href="strategy?$SSOQuery$">益策略</a></li>
                <li class="ifund-header-nav-item"><a href="live?$SSOQuery$">直播+</a></li>
            </ul>
            <div class="ifund-header-right">
                <img class="header-pic" src="$StaticServerHost$/static/images/default_headerpic.png">
                <div class="my-style">我的风格:<span class="style" id="myStyle_name"></span></div>
                <div class="style-desc-wrapper">
                    <img class="style-desc" src="$StaticServerHost$/static/images/helper.png">
                    <div class="tips">
                        <div class="tips-title" id="myStyle_name_"></div>
                        <div class="tips-cont" id="myStyle_remark"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ifund-middle">
        <div class="style-bg-box" id="styleBgBox"></div>
        <div class="style-list-box">
            <ul class="style-list" id="styleList">
                <li class="style-item first">益策略</li>
                <li class="style-item current" data-style="1">保守型</li>
                <li class="style-item" data-style="2">稳健型</li>
                <li class="style-item" data-style="3">平衡型</li>
                <li class="style-item" data-style="4">成长型</li>
                <li class="style-item" data-style="5">进取型</li>
            </ul>
        </div>
        <div class="style-desc-box">
            <ul class="style-desc-list" id="latestInfoList"></ul>
        </div>
    </div>
    <div class="ifund-bottom ifund-home-bottom">
        <div class="live-box">
            <div class="live-title"></div>
            <div class="today-topic-box">
                <div class="topic-title"><a href="live?$SSOQuery$" id="liveName_Title"></a></div>
                <div class="read-topic"><a href="live?$SSOQuery$">查看直播</a></div>
            </div>
            <div class="live-content-box">
                <ul class="live-content-list" id="liveContentList"></ul>
            </div>
            <div>
            </div>
        </div>
        <div class="real-time-interaction-box">
            <div class="interaction-title"></div>
            <div class="interaction-content-box">
                <ul class="interaction-content-list" id="questionContentList">

                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="styleBgBox_temp">
{{#each dataList}}
<div class="style-bg style-bg{{index}}" style="background: url('$StaticServerHost$/static/images/{{index}}.gif') center left no-repeat"></div>
{{/each}}
</script>

<script type="text/template" id="latestInfoList_temp">
{{#each dataList}}
<li class="style-desc-item" data-style="{{style}}" style="display: none;">
<p class="profit-percent {{_class}}">{{percentM}}%</p>
<p class="profit-date">{{title}}</p>
<p class="risk">{{label}}</p>
<p class="style-name">{{name}}</p>
<p class="style-description">{{summary}}</p>
        <a class="read-strategy" data-style="{{style}}" data-code="{{code}}" href="javascript:;">查看策略</a>
</li>
{{/each}}
</script>

<script type="text/template" id="liveContentList_temp">
{{#each dataList}}
<li class="live-content-item">
<p class="live-time-and-title"><span class="time">{{{ShortTime}}}</span></p>
<a class="live-content" href="live?$SSOQuery$">{{Content}}</a>
</li>
{{/each}}
</script>
<script type="text/template" id="questionContentList_temp">
{{#each dataList}}
<li class="interaction-content-item">
<p class="ask">
    <span>[问] </span>
<a class="ask-link" href="live?$SSOQuery$">{{ask}}</a>
</p>
<div class="answer">
<div class="answer-wrapper">
    <span>[答]</span>
<a class="answer-link" href="live?$SSOQuery$">{{answer}}</a>
</div>
<div>
<a class="teacher-link" href="live?$SSOQuery$">{{answerInfo}}</a>
</div>
</div>
</li>
{{/each}}
</script>
<script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/libs/jquery/jquery.min.1.8.3.js"></script>
<script src="$StaticServerHost$/static/libs/json2.js"></script>

<script src="$StaticServerHost$/static/libs/layer/layer.js"></script>
<script src="$StaticServerHost$/static/libs/jquery/jquery.handlebars.js"></script>
<script src="$StaticServerHost$/static/scripts/modules/public/utils.opt.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/config/config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/ifund/home.opt.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/common.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/pageJs/index.js?rev=$ResourceVersion$"></script>

<script type="text/javascript">
    // document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>