<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <link rel="dns-prefetch" href="//static.dsclient.emoney.cn">
    <link rel="dns-prefetch" href="//static.emoney.cn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>直播+</title>
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=$ResourceVersion$">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/home.css?rev=$ResourceVersion$">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/pop.css?rev=$ResourceVersion$">
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=$ResourceVersion$"><\/script>');
        }
    </script>
</head>

<body>
<div class="ifund-container ifund-live-container">
    <div class="ifund-header ifund-live-header">
        <div class="ifund-header-box">
            <div class="ifund-header-title">基金频道</div>
            <ul class="ifund-header-nav">
                <li class="ifund-header-nav-item"><a href="index?$SSOQuery$">首页</a></li>
                <li class="ifund-header-nav-item"><a href="strategy?$SSOQuery$">益策略</a></li>
                <li class="ifund-header-nav-item  current" href="javascript:;"><a>直播+</a></li>
            </ul>
            <div class="ifund-header-right">
                <img class="header-pic" src="$StaticServerHost$/static/images/default_headerpic.png">
                <div class="my-style">我的风格:<span class="style" id="myStyle_name"></span></div>
                <div class="style-desc-wrapper">
                    <img class="style-desc" src="$StaticServerHost$/static/images/helper.png">
                    <div class="tips">
                        <div class="tips-title" id="myStyle_name_"></div>
                        <div class="tips-cont" id="myStyle_remark"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ifund-bottom ifund-live-bottom">
        <div class="live-box">
            <div class="live-title topic-title-box">
                <div class="topic-title"><span id="todayTopic"></span></div>
                <input type="text" id="d11Left" style="display: none;">
                <div class="rili-box"><span class="date" id="date" data-date="">今日直播</span>
                    <div class="rili" id="datePickLeft" onclick="WdatePicker({
                         el:'d11Left'
                        ,onpicked:window.pickedFuncLeft
                        ,position:{top:10,left:-150}
                        ,maxDate:'%y-%M-%d'
                        })"></div>
                </div>
            </div>
            <div class="live-content-box">
                <ul class="live-content-list" id="liveContentList"></ul>
            </div>
            <div>
            </div>
        </div>
        <div class="real-time-interaction-box">
            <div class="live-room-desc" id="liveRoomInfo"></div>
            <div class="interaction-title interaction-tab">
                <div class="tab-box" id="tabBox">
                    <span class="question all-question current">全部问答</span>
                    <span class="question my-question">我的问答</span>
                </div>
            </div>
            <div class="interaction-content-box" id="interactionContentBox">
                <div class="interaction-content-inner">
                    <ul class="interaction-content-list all-question-list open" id="allQuestionList"></ul>
                    <ul class="interaction-content-list my-question-list" id="myQuestionList"></ul>
                </div>
            </div>
            <div class="quiz-box">
                <div class="quiz-inner">
                    <textarea class="quiz-input" placeholder="请输入提问内容。主播观点仅供学习交流，切勿作为实盘交易的依据。"
                              id="id_expertquestion"></textarea>
                    <div class="expression-and-btn">
                        <button class="submit" id="subQuestion">提交</button>
                        <span class="expression" id="inpFacemark"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pic-pop">
    <div class="get-img">
        <span>
            <img src="" /></span>
    </div>
</div>

<script type="text/template" id="liveRoomInfo_temp">
    <div class="live-room-and-hot">
        <img class="live-room-pic" src="{{LiveImg}}">
        <span class="live-room-name">{{LiveName}}</span>
        <div class="live-room-hot">热度 : <span class="hot-num">{{VisitAddrNum}}</span></div>
    </div>
    <div class="brief-and-teacher">
        <span class="brief">{{LiveIntro}}</span>
    </div>
</script>

<script type="text/template" id="liveContentList_temp">
{{#each dataList}}
<li class="live-content-item">
    <p class="live-time-and-title"><span class="time">{{{ShortTime}}}</span></p>
<p class="live-content">{{{Content}}}</p>
</li>
{{/each}}
</script>

<script type="text/template" id="allQuestionList_temp">
{{#each dataList}}
<li class="interaction-content-item">
<p class="interaction-time">{{ShortTime}}</p>
<p class="ask"><em class="ask-link"><em class="ask-and-name">[问]{{AskUserName}}： </em>{{{AskContent}}}</em></p>
<div class="answer">
<span class="answer-link">
<span class="answer-and-type">[答]{{AnswerUserName}}：</span>{{{AnswerContent}}}
</span>
<div class="teacher-link">【投资顾问{{MasterName}}，执业证书编号{{MasterNumber}}，投资顾问意见仅作参考，不作为买卖建议。股市有风险，投资需谨慎！】</div>
</div>
</li>
{{/each}}
</script>

<script type="text/template" id="myQuestionList_temp">
{{#each dataList}}
<li class="interaction-content-item">
<p class="interaction-time">{{ShortTime}}</p>
<p class="ask"><em class="ask-link"><em class="ask-and-name">[问]{{AskUserName}}： </em>{{{AskContent}}}</em></p>
        <div class="answer" style="{{style}}">
<span class="answer-link"><span class="answer-and-type">[答]{{AnswerUserName}}：</span>{{{AnswerContent}}}</span>
<div class="teacher-link">【投资顾问{{MasterName}}，执业证书编号{{MasterNumber}}，投资顾问意见仅作参考，不作为买卖建议。股市有风险，投资需谨慎！】
</div>
</div>
</li>
{{/each}}
</script>

<script src="$StaticServerHost$/static/libs/jquery/jquery-1.10.2.min.js"></script>
<script src="$StaticServerHost$/static/libs/layer/layer.js"></script>
<script src="$StaticServerHost$/static/libs/jquery/jquery.handlebars.js"></script>
<script src="$StaticServerHost$/static/libs/qqFace/jquery.qqFace.js"></script>
<script src="http://static.emoney.cn/live/Scripts/jquery.qqFace.js"></script>
<script src="$StaticServerHost$/static/libs/json2.js"></script>

<script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/libs/My97DatePicker/WdatePicker.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/modules/public/utils.opt.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/ifund/fund_live.opt.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/config/config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/common.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/Mess.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/pageJs/live.js?rev=$ResourceVersion$"></script>
<script type="text/javascript">
    // document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>