<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <link rel="dns-prefetch" href="//static.dsclient.emoney.cn">
    <link rel="dns-prefetch" href="//static.emoney.cn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>益策略</title>
    <link rel="stylesheet" href="$StaticServerHost$/static/css/common.css?rev=5b235a1d2e7d">
    <link rel="stylesheet" href="$StaticServerHost$/static/css/home.css?rev=5b235a1d2e7d">
    <script>
        if (!document.addEventListener) {
            // IE6~IE8
            document.write('<script src="$StaticServerHost$/static/libs/oldIEpadding.js?rev=5b235a1d2e7d"><\/script>');
        }
    </script>
</head>

<body>
<div class="ifund-container">
    <div class="ifund-header">
        <div class="ifund-header-box">
            <div class="ifund-header-title">基金频道</div>
            <ul class="ifund-header-nav">
                <li class="ifund-header-nav-item"><a href="index?$SSOQuery$">首页</a></li>
                <li class="ifund-header-nav-item current"><a href="javascript:;">益策略</a></li>
                <li class="ifund-header-nav-item"><a href="live?$SSOQuery$">直播+</a></li>
            </ul>
            <div class="ifund-header-right">
                <img class="header-pic" src="$StaticServerHost$/static/images/default_headerpic.png">
                <div class="my-style">我的风格:<span class="style" id="myStyle_name"></span></div>
                <div class="style-desc-wrapper">
                    <img class="style-desc" src="$StaticServerHost$/static/images/helper.png">
                    <div class="tips">
                        <div class="tips-title" id="myStyle_name_"></div>
                        <div class="tips-cont" id="myStyle_remark"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ifund-mainbox">
        <div class="invest-type">
            <div class="iner">
                <dl id="strategyList"></dl>
                <div class="poptype" id="poptype">
                    <ul>
                        <li data-style="1">保守型</li>
                        <li data-style="2">稳健型</li>
                        <li data-style="3">平衡型</li>
                        <li data-style="4">成长型</li>
                        <li data-style="5">进取型</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ifund-module-i">
            <div class="iner">
                <div class="ifund-m-i-c">
                    <div class="iner">
                        <div class="chartwrapper">
                            <h4>实时估值</h4>
                            <p class="pl40">
                                <i></i>实时估值：
                                <span class="fred" id="spLastEstimation"></span>元
                                <span class="pl40"><i></i>估值涨幅：<span class="" id="spzfEstimation"></span></span></p>
                            <div class="chart" id="EstimationChart"></div>
                        </div>
                        <div class="ifund-type-details" id="estimationRightInfo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ifund-module-i">
            <div class="iner">
                <div class="ifund-m-i-header">
                    <i></i>组合走势
                </div>
                <div class="ifund-m-i-c" id="groupTechContainer">
                    <div class="switchwrapper">
                        <div class="switch-header">
                            <div class="switch-header-tips">（起始日期 <span id="mdStart"></span>）</div>
                            <div class="switch-header-i actived" data-type="W">万元投资</div>
                            <div class="switch-header-i" data-type="K">每千元定投</div>
                        </div>
                        <div class="switch-container">
                            <div class="switch-container-i">
                                <div class="leftchart">
                                    <ul class="charttype">
                                        <li class="actived" data-type="R1M">近1月</li>
                                        <li data-type="R3M">近3月</li>
                                        <li data-type="R6M">近6月</li>
                                        <li data-type="YTD">今年以来</li>
                                        <li data-type="R1Y">近1年</li>
                                        <li data-type="R3Y">近3年</li>
                                        <li data-type="ESTD">成立以来</li>
                                    </ul>
                                    <div class="chart-c">
                                        <div id="groupTechChart" class="chart"></div>
                                    </div>
                                </div>
                                <div class="chart-explain">
                                    <dl>
                                        <dt>
                                            <span id="spchartType">近1月</span>业绩表现
                                        </dt>
                                        <dd>
                                            <p>收益率：（<span class="fgray"><span id="percentRun"></span>比较基准<span id="percentDiff"></span></span>）
                                            </p>
                                            <h2 id="yield">--</h2>
                                        </dd>
                                        <dd>
                                            <p> 最大回撤：（<span class="fgray">跌幅区间<span id="mdStart-End"></span></span>）</p>
                                            <h2 id="maxretrace">--</h2>
                                        </dd>
                                        <dd>
                                            <p>夏普比率：（<span class="fgray"><span id="sharpeRun"></span>比较基准<span id="sharpeDiff"></span></span>）
                                            </p>
                                            <h2 id="xpRate">--</h2>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ifund-module-i">
            <div class="iner">
                <div class="ifund-m-i-header">
                    <i></i>组合涨幅
                </div>
                <div class="ifund-m-i-c">
                    <table class="ifund-tab" border="0" cellspacing="1" cellpadding="0">
                        <thead>
                        <tr>
                            <th>产品名称</th>
                            <th>近1周</th>
                            <th>近1个月</th>
                            <th>近3个月</th>
                            <th>近6个月</th>
                            <th>今年以来</th>
                            <th>近1年</th>
                            <th>近3年</th>
                        </tr>
                        </thead>
                        <tbody id="groupRiseTbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="ifund-module-i strategy">
            <div class="iner">
                <div class="ifund-m-i-header">
                    <i></i>策略配置
                    <span class="expandInfos">调仓日期：
                            <select id="selAdjustDates"></select>
                        </span>
                </div>
                <div class="ifund-m-i-c">
                    <div class="leftchart">
                        <div id="StrategyChart" class="chart"></div>
                    </div>
                    <div class="strategyinfo" id="strategyinfo">
                        <div class="s-tips"></div>
                        <div class="s-details"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--策略列表 头部-->
<script type="text/template" id="strategyList_temp">
<dt><span id="selectedStrategyName"></span><i></i></dt>
{{#each dataList}}
<dd style="display: none;" data-code="{{code}}" data-style="{{style}}">{{name}}</dd>
{{/each}}
</script>

<!--组合涨幅-->
<script type="text/template" id="groupRiseTbody_temp">
{{#each dataList}}
<tr>
<td>
<div>{{name}}</div></td>
<td>
        <div class="{{class_percentW1}}">{{percentW1}}</div></td>
<td>
        <div class="{{class_percentM1}}">{{percentM1}}</div></td>
<td>
        <div class="{{class_percentM3}}">{{percentM3}}</div></td>
<td>
        <div class="{{class_percentM6}}">{{percentM6}}</div></td>
<td>
        <div class="{{class_percentYtd}}">{{percentYtd}}</div></td>
<td>
        <div class="{{class_percentY1}}">{{percentY1}}</div></td>
<td>
        <div class="{{class_percentY3}}">{{percentY3}}</div></td>
</tr>
{{/each}}
</script>

<!--实时估值 右侧数据-->
<script type="text/template" id="estimationRightInfo_temp">
<div class="type-infos">
<h4>{{name}}</h4>
<p style="display: none;">基金风格 {{style}} | 基金类型 {{lables}}</p>
<p>
<span class="orange">该产品风险等级：{{level}}</span>（适合风险测评为{{levelInfo}}用户投资）</p>
<div class="ifund-zf">
<ul>
<li>
        <h1 class="{{nav_class}}">{{nav}}</h1>
<p>最新净值（{{navDate}}）</p>
</li>
<li>
        <span class="{{navChange_class}}">{{navChange}}</span>
    <p>日涨幅</p>
</li>
    <li class="last">
        <span class="{{annualChangeAll_class}}">{{annualChangeAll}}</span>
        <p>年化回报</p>
    </li>
</ul>
</div>
</div>
<div class="clear"></div>
</script>

<script src="$StaticServerHost$/static/scripts/modules/public/global_config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/libs/jquery/jquery.min.1.8.3.js"></script>
<script src="$StaticServerHost$/static/libs/json2.js"></script>
<script src="$StaticServerHost$/static/libs/jquery/jquery.cookie.js"></script>
<script src="$StaticServerHost$/static/libs/layer/layer.js"></script>
<script src="$StaticServerHost$/static/libs/jquery/jquery.handlebars.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/libs/echarts/echarts.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/libs/highstock/highstock.js?rev=$ResourceVersion$"></script>

<script src="$StaticServerHost$/static/scripts/config/config_$StaticResEnv$.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/common.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/ifund/chart_strategy.js?rev=$ResourceVersion$"></script>
<script src="$StaticServerHost$/static/scripts/pageJs/strategy.js?rev=$ResourceVersion$"></script>
<script type="text/javascript">
    //document.write(unescape("%3Cscript src='http://img.tongji.emoney.cn/scripts/emoneyanalyticsalipv.js%3Fcode=8B9093887C7B911EA8A566613F19F22D' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>